{% if articles|length > 0 %}
    {% block pluszwei_faq_manager_detail_relate_article_title %}
        <div class="h3">{{ 'pluszweiFaqManager.article.relatedTitle'|trans|sw_sanitize }}</div>
    {% endblock %}

    {% block pluszwei_faq_manager_detail_relate_article_list %}
        <ul class="faq-article-none-list">
            {% for article in articles %}

                {% block pluszwei_faq_manager_detail_relate_article_item %}
                    <li>
                        <a href="{{ seoUrl('pluszwei.faq.frontend.detail', {articleId: article.id}) }}">{{ article.translated.title }}</a>
                    </li>
                {% endblock %}

            {% endfor %}
        </ul>
    {% endblock %}

{% endif %}
