{% block sw_cms_el_config_gaisbock_image_add_more_text %}
    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    <sw-tabs
            position-identifier="sw-cms-element-config-image-slider"
            class="sw-cms-el-config-image-slider__tabs"
            default-item="content"
    >
        <template #default="{ active }">
            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_cms_element_image_slider_config_tab_content %}
                <sw-tabs-item
                        :title="$tc('sw-cms.elements.general.config.tab.content')"
                        name="content"
                        :active-tab="active"
                >
                    {{ $tc('sw-cms.elements.general.config.tab.content') }}
                </sw-tabs-item>
            {% endblock %}
            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_cms_element_image_slider_config_tab_options %}
                <sw-tabs-item
                        :title="$tc('sw-cms.elements.general.config.tab.addmore')"
                        name="addmore"
                        :active-tab="active"
                >
                    {{ $tc('sw-cms.elements.general.config.tab.settings') }}
                </sw-tabs-item>
            {% endblock %}
        </template>
        <template
                #content="{ active }"
        >
            <sw-container
                    v-if="active === 'content'"
                    class="sw-cms-el-config-image-slider__tab-content"
            >
                {% block sw_cms_element_image_config %}
                    <div class="sw-cms-el-config-image">
                        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                        {% block sw_cms_element_image_config_media_upload %}
                            <sw-cms-mapping-field
                                    v-model="element.config.media"
                                    :label="$tc('sw-cms.elements.image.label')"
                                    value-types="entity"
                                    entity="media"
                            >
                                <sw-media-upload-v2
                                        variant="regular"
                                        :upload-tag="uploadTag"
                                        :source="previewSource"
                                        :allow-multi-select="false"
                                        :default-folder="cmsPageState.pageEntityName"
                                        :caption="$tc('sw-cms.elements.general.config.caption.mediaUpload')"
                                        @media-upload-sidebar-open="onOpenMediaModal"
                                        @media-upload-remove-image="onImageRemove"
                                />

                                <template #preview="{ demoValue }">
                                    <div class="sw-cms-el-config-image__mapping-preview">
                                        <img
                                                v-if="demoValue.url"
                                                :src="demoValue.url"
                                                alt=""
                                        >
                                        <sw-alert
                                                v-else
                                                class="sw-cms-el-config-image__preview-info"
                                                variant="info"
                                        >
                                            {{ $tc('sw-cms.detail.label.mappingEmptyPreview') }}
                                        </sw-alert>
                                    </div>
                                </template>
                            </sw-cms-mapping-field>

                            <sw-upload-listener
                                    :upload-tag="uploadTag"
                                    auto-upload
                                    @media-upload-finish="onImageUpload"
                            />
                        {% endblock %}

                        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                        {% block sw_cms_element_image_config_display_mode %}
                            <sw-select-field
                                    v-model="element.config.displayMode.value"
                                    class="sw-cms-el-config-image__display-mode"
                                    :label="$tc('sw-cms.elements.general.config.label.displayMode')"
                                    @change="onChangeDisplayMode"
                            >
                                <option value="standard">
                                    {{ $tc('sw-cms.elements.general.config.label.displayModeStandard') }}
                                </option>
                                <option value="cover">
                                    {{ $tc('sw-cms.elements.general.config.label.displayModeCover') }}
                                </option>
                                <option value="stretch">
                                    {{ $tc('sw-cms.elements.general.config.label.displayModeStretch') }}
                                </option>
                            </sw-select-field>
                        {% endblock %}

                        <template v-if="element.config.displayMode.value === 'cover'">
                            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                            {% block sw_cms_element_image_config_min_height %}
                                <sw-text-field
                                        v-model="element.config.minHeight.value"
                                        :label="$tc('sw-cms.elements.image.config.label.minHeight')"
                                        :placeholder="$tc('sw-cms.elements.image.config.placeholder.enterMinHeight')"
                                        @input="onChangeMinHeight"
                                />
                            {% endblock %}
                        </template>

                        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                        {% block sw_cms_element_image_config_vertical_align %}
                            <sw-select-field
                                    v-model="element.config.verticalAlign.value"
                                    :label="$tc('sw-cms.elements.general.config.label.verticalAlign')"
                                    :placeholder="$tc('sw-cms.elements.general.config.label.verticalAlign')"
                                    :disabled="element.config.displayMode.value === 'cover'"
                            >
                                <option value="flex-start">
                                    {{ $tc('sw-cms.elements.general.config.label.verticalAlignTop') }}
                                </option>
                                <option value="center">
                                    {{ $tc('sw-cms.elements.general.config.label.verticalAlignCenter') }}
                                </option>
                                <option value="flex-end">
                                    {{ $tc('sw-cms.elements.general.config.label.verticalAlignBottom') }}
                                </option>
                            </sw-select-field>
                        {% endblock %}

                        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                        {% block sw_cms_element_image_config_media_modal %}
                            <sw-media-modal-v2
                                    v-if="mediaModalIsOpen"
                                    variant="regular"
                                    :caption="$tc('sw-cms.elements.general.config.caption.mediaUpload')"
                                    :entity-context="cmsPageState.entityName"
                                    :allow-multi-select="false"
                                    :initial-folder-id="cmsPageState.defaultMediaFolderId"
                                    @media-upload-remove-image="onImageRemove"
                                    @media-modal-selection-change="onSelectionChanges"
                                    @modal-close="onCloseModal"
                            />
                        {% endblock %}
                        <sw-field
                                v-model="element.config.position.value"
                                class="sw-cms-el-config-button__link-tab"
                                type="switch"
                                :label="$tc('sw-cms.elements.image.config.label.position')"
                        />
                        <sw-field
                                v-model="element.config.heading.value"
                                class="sw-cms-el-config-button__link-tab"
                                type="text"
                                :label="$tc('sw-cms.elements.image.config.label.subHeading')"
                        />
                        <sw-field
                                v-model="element.config.subTitle.value"
                                class="sw-cms-el-config-button__link-tab"
                                type="text"
                                :label="$tc('sw-cms.elements.image.config.label.subHeading')"
                        />
                        <sw-text-editor
                                :value="element.config.content.value"
                                :allow-inline-data-mapping="true"
                                sanitize-input
                                enable-transparent-background
                                @input="onInput"
                                @blur="onBlur"
                        />
                        <sw-text-editor
                                :value="element.config.subContent.value"
                                :allow-inline-data-mapping="true"
                                sanitize-input
                                enable-transparent-background
                                @input="onInputOne"
                                @blur="onBlurOne"
                        />
                        <sw-field
                                v-model="element.config.subHeading.value"
                                class="sw-cms-el-config-button__link-tab"
                                type="text"
                                :label="$tc('sw-cms.elements.image.config.label.sub sub Heading')"
                        />
                        <sw-text-editor
                                :value="element.config.subContentTwo.value"
                                :allow-inline-data-mapping="true"
                                sanitize-input
                                enable-transparent-background
                                @input="onInputTwo"
                                @blur="onBlurTwo"
                        />
                    </div>
                {% endblock %}
            </sw-container>
            <sw-container
                    v-if="active === 'addmore'"
                    class="sw-cms-el-config-image-slider__tab-content"
            >
                {# Image One #}
                <sw-media-upload-v2
                        variant="regular"
                        :upload-tag="uploadTagOne"
                        :source="previewOne"
                        :allow-multi-select="false"
                        :default-folder="cmsPageState.pageEntityName"
                        :caption="$tc('sw-cms.elements.general.config.caption.mediaUpload')"
                        @media-upload-sidebar-open="onOpenOneMediaModal"
                        @media-upload-remove-image="onOneImageRemove"
                />

                <template #preview="{ demoValue }">
                    <div class="sw-cms-el-config-image__mapping-preview">
                        <img
                                v-if="demoValue.url"
                                :src="demoValue.url"
                                alt=""
                        >
                        <sw-alert
                                v-else
                                class="sw-cms-el-config-image__preview-info"
                                variant="info"
                        >
                            {{ $tc('sw-cms.detail.label.mappingEmptyPreview') }}
                        </sw-alert>
                    </div>
                </template>
                <sw-upload-listener
                        :upload-tag="uploadTagOne"
                        auto-upload
                        @media-upload-finish="onOneImageUpload"
                />
                <sw-media-modal-v2
                        v-if="mediaOneModalIsOpen"
                        variant="regular"
                        :caption="$tc('sw-cms.elements.general.config.caption.mediaUpload')"
                        :entity-context="cmsPageState.entityName"
                        :allow-multi-select="false"
                        :initial-folder-id="cmsPageState.defaultMediaFolderId"
                        @media-upload-remove-image="onOneImageRemove"
                        @media-modal-selection-change="onOneSelectionChanges"
                        @modal-close="onOneCloseModal"
                />
                <sw-field
                        v-model="element.config.titleOne.value"
                        type="text"
                        :label="$tc('sw-cms.elements.general.config.label.title')"
                        :placeholder="$tc('sw-cms.elements.general.config.label.title')"
                />
                {# Image Two #}
                <sw-media-upload-v2
                        variant="regular"
                        :upload-tag="uploadTagTwo"
                        :source="previewTwo"
                        :allow-multi-select="false"
                        :default-folder="cmsPageState.pageEntityName"
                        :caption="$tc('sw-cms.elements.general.config.caption.mediaUpload')"
                        @media-upload-sidebar-open="onOpenTwoMediaModal"
                        @media-upload-remove-image="onTwoImageRemove"
                />

                <template #preview="{ demoValue }">
                    <div class="sw-cms-el-config-image__mapping-preview">
                        <img
                                v-if="demoValue.url"
                                :src="demoValue.url"
                                alt=""
                        >
                        <sw-alert
                                v-else
                                class="sw-cms-el-config-image__preview-info"
                                variant="info"
                        >
                            {{ $tc('sw-cms.detail.label.mappingEmptyPreview') }}
                        </sw-alert>
                    </div>
                </template>
                <sw-upload-listener
                        :upload-tag="uploadTagTwo"
                        auto-upload
                        @media-upload-finish="onTwoImageUpload"
                />
                <sw-media-modal-v2
                        v-if="mediaTwoModalIsOpen"
                        variant="regular"
                        :caption="$tc('sw-cms.elements.general.config.caption.mediaUpload')"
                        :entity-context="cmsPageState.entityName"
                        :allow-multi-select="false"
                        :initial-folder-id="cmsPageState.defaultMediaFolderId"
                        @media-upload-remove-image="onTwoImageRemove"
                        @media-modal-selection-change="onTwoSelectionChanges"
                        @modal-close="onTwoCloseModal"
                />
                <sw-field
                        v-model="element.config.titleTwo.value"
                        type="text"
                        :label="$tc('sw-cms.elements.general.config.label.title')"
                        :placeholder="$tc('sw-cms.elements.general.config.label.title')"
                />
                {# Image Three #}
                <sw-media-upload-v2
                        variant="regular"
                        :upload-tag="uploadTagThree"
                        :source="previewThree"
                        :allow-multi-select="false"
                        :default-folder="cmsPageState.pageEntityName"
                        :caption="$tc('sw-cms.elements.general.config.caption.mediaUpload')"
                        @media-upload-sidebar-open="onOpenThreeMediaModal"
                        @media-upload-remove-image="onThreeImageRemove"
                />

                <template #preview="{ demoValue }">
                    <div class="sw-cms-el-config-image__mapping-preview">
                        <img
                                v-if="demoValue.url"
                                :src="demoValue.url"
                                alt=""
                        >
                        <sw-alert
                                v-else
                                class="sw-cms-el-config-image__preview-info"
                                variant="info"
                        >
                            {{ $tc('sw-cms.detail.label.mappingEmptyPreview') }}
                        </sw-alert>
                    </div>
                </template>
                <sw-upload-listener
                        :upload-tag="uploadTagThree"
                        auto-upload
                        @media-upload-finish="onThreeImageUpload"
                />
                <sw-media-modal-v2
                        v-if="mediaThreeModalIsOpen"
                        variant="regular"
                        :caption="$tc('sw-cms.elements.general.config.caption.mediaUpload')"
                        :entity-context="cmsPageState.entityName"
                        :allow-multi-select="false"
                        :initial-folder-id="cmsPageState.defaultMediaFolderId"
                        @media-upload-remove-image="onThreeImageRemove"
                        @media-modal-selection-change="onThreeSelectionChanges"
                        @modal-close="onThreeCloseModal"
                />
                <sw-field
                        v-model="element.config.titleThree.value"
                        type="text"
                        :label="$tc('sw-cms.elements.general.config.label.title')"
                        :placeholder="$tc('sw-cms.elements.general.config.label.title')"
                />
                {# Image Four #}
                <sw-media-upload-v2
                        variant="regular"
                        :upload-tag="uploadTagFour"
                        :source="previewFour"
                        :allow-multi-select="false"
                        :default-folder="cmsPageState.pageEntityName"
                        :caption="$tc('sw-cms.elements.general.config.caption.mediaUpload')"
                        @media-upload-sidebar-open="onOpenFourMediaModal"
                        @media-upload-remove-image="onFourImageRemove"
                />

                <template #preview="{ demoValue }">
                    <div class="sw-cms-el-config-image__mapping-preview">
                        <img
                                v-if="demoValue.url"
                                :src="demoValue.url"
                                alt=""
                        >
                        <sw-alert
                                v-else
                                class="sw-cms-el-config-image__preview-info"
                                variant="info"
                        >
                            {{ $tc('sw-cms.detail.label.mappingEmptyPreview') }}
                        </sw-alert>
                    </div>
                </template>
                <sw-upload-listener
                        :upload-tag="uploadTagFour"
                        auto-upload
                        @media-upload-finish="onFourImageUpload"
                />
                <sw-media-modal-v2
                        v-if="mediaFourModalIsOpen"
                        variant="regular"
                        :caption="$tc('sw-cms.elements.general.config.caption.mediaUpload')"
                        :entity-context="cmsPageState.entityName"
                        :allow-multi-select="false"
                        :initial-folder-id="cmsPageState.defaultMediaFolderId"
                        @media-upload-remove-image="onFourImageRemove"
                        @media-modal-selection-change="onFourSelectionChanges"
                        @modal-close="onFourCloseModal"
                />
                <sw-field
                        v-model="element.config.titleFour.value"
                        type="text"
                        :label="$tc('sw-cms.elements.general.config.label.title')"
                        :placeholder="$tc('sw-cms.elements.general.config.label.title')"
                />
                {# Image Five #}
                <sw-media-upload-v2
                        variant="regular"
                        :upload-tag="uploadTagFive"
                        :source="previewFive"
                        :allow-multi-select="false"
                        :default-folder="cmsPageState.pageEntityName"
                        :caption="$tc('sw-cms.elements.general.config.caption.mediaUpload')"
                        @media-upload-sidebar-open="onOpenFiveMediaModal"
                        @media-upload-remove-image="onFiveImageRemove"
                />

                <template #preview="{ demoValue }">
                    <div class="sw-cms-el-config-image__mapping-preview">
                        <img
                                v-if="demoValue.url"
                                :src="demoValue.url"
                                alt=""
                        >
                        <sw-alert
                                v-else
                                class="sw-cms-el-config-image__preview-info"
                                variant="info"
                        >
                            {{ $tc('sw-cms.detail.label.mappingEmptyPreview') }}
                        </sw-alert>
                    </div>
                </template>
                <sw-upload-listener
                        :upload-tag="uploadTagFive"
                        auto-upload
                        @media-upload-finish="onFiveImageUpload"
                />
                <sw-media-modal-v2
                        v-if="mediaFiveModalIsOpen"
                        variant="regular"
                        :caption="$tc('sw-cms.elements.general.config.caption.mediaUpload')"
                        :entity-context="cmsPageState.entityName"
                        :allow-multi-select="false"
                        :initial-folder-id="cmsPageState.defaultMediaFolderId"
                        @media-upload-remove-image="onFiveImageRemove"
                        @media-modal-selection-change="onFiveSelectionChanges"
                        @modal-close="onFiveCloseModal"
                />
                <sw-field
                        v-model="element.config.titleFive.value"
                        type="text"
                        :label="$tc('sw-cms.elements.general.config.label.title')"
                        :placeholder="$tc('sw-cms.elements.general.config.label.title')"
                />
                {# Image Six #}
                <sw-media-upload-v2
                        variant="regular"
                        :upload-tag="uploadTagSix"
                        :source="previewSix"
                        :allow-multi-select="false"
                        :default-folder="cmsPageState.pageEntityName"
                        :caption="$tc('sw-cms.elements.general.config.caption.mediaUpload')"
                        @media-upload-sidebar-open="onOpenSixMediaModal"
                        @media-upload-remove-image="onSixImageRemove"
                />

                <template #preview="{ demoValue }">
                    <div class="sw-cms-el-config-image__mapping-preview">
                        <img
                                v-if="demoValue.url"
                                :src="demoValue.url"
                                alt=""
                        >
                        <sw-alert
                                v-else
                                class="sw-cms-el-config-image__preview-info"
                                variant="info"
                        >
                            {{ $tc('sw-cms.detail.label.mappingEmptyPreview') }}
                        </sw-alert>
                    </div>
                </template>
                <sw-upload-listener
                        :upload-tag="uploadTagSix"
                        auto-upload
                        @media-upload-finish="onSixImageUpload"
                />
                <sw-media-modal-v2
                        v-if="mediaSixModalIsOpen"
                        variant="regular"
                        :caption="$tc('sw-cms.elements.general.config.caption.mediaUpload')"
                        :entity-context="cmsPageState.entityName"
                        :allow-multi-select="false"
                        :initial-folder-id="cmsPageState.defaultMediaFolderId"
                        @media-upload-remove-image="onSixImageRemove"
                        @media-modal-selection-change="onSixSelectionChanges"
                        @modal-close="onSixCloseModal"
                />
                <sw-field
                        v-model="element.config.titleSix.value"
                        type="text"
                        :label="$tc('sw-cms.elements.general.config.label.title')"
                        :placeholder="$tc('sw-cms.elements.general.config.label.title')"
                />
                {# Image Seven #}
                <sw-media-upload-v2
                        variant="regular"
                        :upload-tag="uploadTagSeven"
                        :source="previewSeven"
                        :allow-multi-select="false"
                        :default-folder="cmsPageState.pageEntityName"
                        :caption="$tc('sw-cms.elements.general.config.caption.mediaUpload')"
                        @media-upload-sidebar-open="onOpenSevenMediaModal"
                        @media-upload-remove-image="onSevenImageRemove"
                />

                <template #preview="{ demoValue }">
                    <div class="sw-cms-el-config-image__mapping-preview">
                        <img
                                v-if="demoValue.url"
                                :src="demoValue.url"
                                alt=""
                        >
                        <sw-alert
                                v-else
                                class="sw-cms-el-config-image__preview-info"
                                variant="info"
                        >
                            {{ $tc('sw-cms.detail.label.mappingEmptyPreview') }}
                        </sw-alert>
                    </div>
                </template>
                <sw-upload-listener
                        :upload-tag="uploadTagSeven"
                        auto-upload
                        @media-upload-finish="onSevenImageUpload"
                />
                <sw-media-modal-v2
                        v-if="mediaSevenModalIsOpen"
                        variant="regular"
                        :caption="$tc('sw-cms.elements.general.config.caption.mediaUpload')"
                        :entity-context="cmsPageState.entityName"
                        :allow-multi-select="false"
                        :initial-folder-id="cmsPageState.defaultMediaFolderId"
                        @media-upload-remove-image="onSevenImageRemove"
                        @media-modal-selection-change="onSevenSelectionChanges"
                        @modal-close="onSevenCloseModal"
                />
                <sw-field
                        v-model="element.config.titleSeven.value"
                        type="text"
                        :label="$tc('sw-cms.elements.general.config.label.title')"
                        :placeholder="$tc('sw-cms.elements.general.config.label.title')"
                />
                {# Image Eight #}
                <sw-media-upload-v2
                        variant="regular"
                        :upload-tag="uploadTagEight"
                        :source="previewEight"
                        :allow-multi-select="false"
                        :default-folder="cmsPageState.pageEntityName"
                        :caption="$tc('sw-cms.elements.general.config.caption.mediaUpload')"
                        @media-upload-sidebar-open="onOpenEightMediaModal"
                        @media-upload-remove-image="onEightImageRemove"
                />

                <template #preview="{ demoValue }">
                    <div class="sw-cms-el-config-image__mapping-preview">
                        <img
                                v-if="demoValue.url"
                                :src="demoValue.url"
                                alt=""
                        >
                        <sw-alert
                                v-else
                                class="sw-cms-el-config-image__preview-info"
                                variant="info"
                        >
                            {{ $tc('sw-cms.detail.label.mappingEmptyPreview') }}
                        </sw-alert>
                    </div>
                </template>
                <sw-upload-listener
                        :upload-tag="uploadTagEight"
                        auto-upload
                        @media-upload-finish="onEightImageUpload"
                />
                <sw-media-modal-v2
                        v-if="mediaEightModalIsOpen"
                        variant="regular"
                        :caption="$tc('sw-cms.elements.general.config.caption.mediaUpload')"
                        :entity-context="cmsPageState.entityName"
                        :allow-multi-select="false"
                        :initial-folder-id="cmsPageState.defaultMediaFolderId"
                        @media-upload-remove-image="onEightImageRemove"
                        @media-modal-selection-change="onEightSelectionChanges"
                        @modal-close="onEightCloseModal"
                />
                <sw-field
                        v-model="element.config.titleEight.value"
                        type="text"
                        :label="$tc('sw-cms.elements.general.config.label.title')"
                        :placeholder="$tc('sw-cms.elements.general.config.label.title')"
                />
                {# Image Nine #}
                <sw-media-upload-v2
                        variant="regular"
                        :upload-tag="uploadTagNine"
                        :source="previewNine"
                        :allow-multi-select="false"
                        :default-folder="cmsPageState.pageEntityName"
                        :caption="$tc('sw-cms.elements.general.config.caption.mediaUpload')"
                        @media-upload-sidebar-open="onOpenNineMediaModal"
                        @media-upload-remove-image="onNineImageRemove"
                />

                <template #preview="{ demoValue }">
                    <div class="sw-cms-el-config-image__mapping-preview">
                        <img
                                v-if="demoValue.url"
                                :src="demoValue.url"
                                alt=""
                        >
                        <sw-alert
                                v-else
                                class="sw-cms-el-config-image__preview-info"
                                variant="info"
                        >
                            {{ $tc('sw-cms.detail.label.mappingEmptyPreview') }}
                        </sw-alert>
                    </div>
                </template>
                <sw-upload-listener
                        :upload-tag="uploadTagNine"
                        auto-upload
                        @media-upload-finish="onNineImageUpload"
                />
                <sw-media-modal-v2
                        v-if="mediaNineModalIsOpen"
                        variant="regular"
                        :caption="$tc('sw-cms.elements.general.config.caption.mediaUpload')"
                        :entity-context="cmsPageState.entityName"
                        :allow-multi-select="false"
                        :initial-folder-id="cmsPageState.defaultMediaFolderId"
                        @media-upload-remove-image="onNineImageRemove"
                        @media-modal-selection-change="onNineSelectionChanges"
                        @modal-close="onNineCloseModal"
                />
                <sw-field
                        v-model="element.config.titleNine.value"
                        type="text"
                        :label="$tc('sw-cms.elements.general.config.label.title')"
                        :placeholder="$tc('sw-cms.elements.general.config.label.title')"
                />
                {# Image Ten #}
                <sw-media-upload-v2
                        variant="regular"
                        :upload-tag="uploadTagTen"
                        :source="previewTen"
                        :allow-multi-select="false"
                        :default-folder="cmsPageState.pageEntityName"
                        :caption="$tc('sw-cms.elements.general.config.caption.mediaUpload')"
                        @media-upload-sidebar-open="onOpenTenMediaModal"
                        @media-upload-remove-image="onTenImageRemove"
                />

                <template #preview="{ demoValue }">
                    <div class="sw-cms-el-config-image__mapping-preview">
                        <img
                                v-if="demoValue.url"
                                :src="demoValue.url"
                                alt=""
                        >
                        <sw-alert
                                v-else
                                class="sw-cms-el-config-image__preview-info"
                                variant="info"
                        >
                            {{ $tc('sw-cms.detail.label.mappingEmptyPreview') }}
                        </sw-alert>
                    </div>
                </template>
                <sw-upload-listener
                        :upload-tag="uploadTagTen"
                        auto-upload
                        @media-upload-finish="onTenImageUpload"
                />
                <sw-media-modal-v2
                        v-if="mediaTenModalIsOpen"
                        variant="regular"
                        :caption="$tc('sw-cms.elements.general.config.caption.mediaUpload')"
                        :entity-context="cmsPageState.entityName"
                        :allow-multi-select="false"
                        :initial-folder-id="cmsPageState.defaultMediaFolderId"
                        @media-upload-remove-image="onTenImageRemove"
                        @media-modal-selection-change="onTenSelectionChanges"
                        @modal-close="onTenCloseModal"
                />
                <sw-field
                        v-model="element.config.titleTen.value"
                        type="text"
                        :label="$tc('sw-cms.elements.general.config.label.title')"
                        :placeholder="$tc('sw-cms.elements.general.config.label.title')"
                />
                {# Image Eleven #}
                <sw-media-upload-v2
                        variant="regular"
                        :upload-tag="uploadTagEleven"
                        :source="previewEleven"
                        :allow-multi-select="false"
                        :default-folder="cmsPageState.pageEntityName"
                        :caption="$tc('sw-cms.elements.general.config.caption.mediaUpload')"
                        @media-upload-sidebar-open="onOpenElevenMediaModal"
                        @media-upload-remove-image="onElevenImageRemove"
                />

                <template #preview="{ demoValue }">
                    <div class="sw-cms-el-config-image__mapping-preview">
                        <img
                                v-if="demoValue.url"
                                :src="demoValue.url"
                                alt=""
                        >
                        <sw-alert
                                v-else
                                class="sw-cms-el-config-image__preview-info"
                                variant="info"
                        >
                            {{ $tc('sw-cms.detail.label.mappingEmptyPreview') }}
                        </sw-alert>
                    </div>
                </template>
                <sw-upload-listener
                        :upload-tag="uploadTagEleven"
                        auto-upload
                        @media-upload-finish="onElevenImageUpload"
                />
                <sw-media-modal-v2
                        v-if="mediaElevenModalIsOpen"
                        variant="regular"
                        :caption="$tc('sw-cms.elements.general.config.caption.mediaUpload')"
                        :entity-context="cmsPageState.entityName"
                        :allow-multi-select="false"
                        :initial-folder-id="cmsPageState.defaultMediaFolderId"
                        @media-upload-remove-image="onElevenImageRemove"
                        @media-modal-selection-change="onElevenSelectionChanges"
                        @modal-close="onElevenCloseModal"
                />
                <sw-field
                        v-model="element.config.titleEleven.value"
                        type="text"
                        :label="$tc('sw-cms.elements.general.config.label.title')"
                        :placeholder="$tc('sw-cms.elements.general.config.label.title')"
                />
                {# Image Twelve #}
                <sw-media-upload-v2
                        variant="regular"
                        :upload-tag="uploadTagTwelve"
                        :source="previewTwelve"
                        :allow-multi-select="false"
                        :default-folder="cmsPageState.pageEntityName"
                        :caption="$tc('sw-cms.elements.general.config.caption.mediaUpload')"
                        @media-upload-sidebar-open="onOpenTwelveMediaModal"
                        @media-upload-remove-image="onTwelveImageRemove"
                />

                <template #preview="{ demoValue }">
                    <div class="sw-cms-el-config-image__mapping-preview">
                        <img
                                v-if="demoValue.url"
                                :src="demoValue.url"
                                alt=""
                        >
                        <sw-alert
                                v-else
                                class="sw-cms-el-config-image__preview-info"
                                variant="info"
                        >
                            {{ $tc('sw-cms.detail.label.mappingEmptyPreview') }}
                        </sw-alert>
                    </div>
                </template>
                <sw-upload-listener
                        :upload-tag="uploadTagTwelve"
                        auto-upload
                        @media-upload-finish="onTwelveImageUpload"
                />
                <sw-media-modal-v2
                        v-if="mediaTwelveModalIsOpen"
                        variant="regular"
                        :caption="$tc('sw-cms.elements.general.config.caption.mediaUpload')"
                        :entity-context="cmsPageState.entityName"
                        :allow-multi-select="false"
                        :initial-folder-id="cmsPageState.defaultMediaFolderId"
                        @media-upload-remove-image="onTwelveImageRemove"
                        @media-modal-selection-change="onTwelveSelectionChanges"
                        @modal-close="onTwelveCloseModal"
                />
                <sw-field
                        v-model="element.config.titleTwelve.value"
                        type="text"
                        :label="$tc('sw-cms.elements.general.config.label.title')"
                        :placeholder="$tc('sw-cms.elements.general.config.label.title')"
                />
            </sw-container>
        </template>
    </sw-tabs>
{% endblock %}