{% sw_extends '@Storefront/storefront/page/product-detail/review/review.html.twig' %}

{% block utilities_offcanvas_content %}
    {% block page_product_detail_review_container %}

        {# TODO NEXT-16993 - replace items per list config value #}
        {% set reviewsPerListPage = 10 %}

        {# TODO NEXT-16994 - replace current list page value #}
        {% set currentListPage = 1 %}

        {% set productReviewCount = reviews.totalReviews %}

        {% if productReviewCount > 0 %}
            {% set productAvgRating = reviews.matrix.averageRating|round(2, 'common') %}
        {% endif %}

        {# TODO NEXT-16994 - replace language flag #}
        {% set foreignReviewsCount = 150 %}

        <div class="product-detail-review">
            {% block page_product_detail_review_tab_pane %}
                {% block page_product_detail_review_aside %}
                    <div class="col-sm-6">
                        {% block page_product_detail_review_widget_container %}
                            {% sw_include '@Storefront/storefront/page/product-detail/review/review-widget.html.twig' %}
                        {% endblock %}
                    </div>
                {% endblock %}

                {% block page_product_detail_review_main %}

                {% endblock %}
            {% endblock %}
        </div>
    {% endblock %}
{% endblock %}
