{% block sw_cms_block_gaisbock_image_addmore_text %}
    <div class="sw-cms-preview-gaisbock-image-addmore-text">
        <img
                :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset"
                alt=""
        >
        <div>
            <p>Lorem ipsum dolor</p>
        </div>
        <div class="sw-cms-preview-gaisbock-image-addmore-text__images">
            <div class="gaisbock-image-line">
                <img
                        :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset"
                        alt=""
                >
                <p>Lorem ipsum dolor</p>
                <img
                        :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset"
                        alt=""
                >
                <p>Lorem ipsum dolor</p>
                <img
                        :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset"
                        alt=""
                >
                <p>Lorem ipsum dolor</p>
            </div>
            <div class="gaisbock-image-line">
                <img
                        :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset"
                        alt=""
                >
                <p>Lorem ipsum dolor</p>
                <img
                        :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset"
                        alt=""
                >
                <p>Lorem ipsum dolor</p>
                <img
                        :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset"
                        alt=""
                >
                <p>Lorem ipsum dolor</p>
            </div>
            <div class="gaisbock-image-line">
                <img
                    :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset"
                    alt=""
                >
                <p>Lorem ipsum dolor</p>
                <img
                        :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset"
                        alt=""
                >
                <p>Lorem ipsum dolor</p>
                <img
                        :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset"
                        alt=""
                >
                <p>Lorem ipsum dolor</p>
            </div>
            <div class="gaisbock-image-line">
                <img
                    :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset"
                    alt=""
                >
                <p>Lorem ipsum dolor</p>
                <img
                        :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset"
                        alt=""
                >
                <p>Lorem ipsum dolor</p>
                <img
                        :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset"
                        alt=""
                >
                <p>Lorem ipsum dolor</p>
            </div>
        </div>
    </div>
{% endblock %}