{% sw_extends '@Storefront/storefront/utilities/offcanvas.html.twig' %}

{% block utilities_offcanvas_content %}
    {% block layout_navigation_offcanvas_navigation_actions %}
        <nav class="nav navigation-offcanvas-actions">
            {% block layout_navigation_offcanvas_navigation_action_language %}

            {% endblock %}

            {% block layout_navigation_offcanvas_navigation_action_currency %}

            {% endblock %}
            {% block utilities_offcanvas_close %}
                <button class="btn btn-light offcanvas-close js-offcanvas-close gaisbock-close" onclick="closeButton()">
                    {% block utilities_offcanvas_close_icon %}
                        {% sw_icon 'x' style { 'size': 'sm' } %}
                    {% endblock %}
                </button>
            {% endblock %}
        </nav>
    {% endblock %}

    {% sw_include '@Storefront/storefront/layout/navigation/offcanvas/categories.html.twig' with { navigation: navigation } %}

    <script>
        function closeButton() {
            let getNavCloseClass = document.querySelector('.header-main');
            if(getNavCloseClass.classList.contains('hovered')){
                getNavCloseClass.classList.remove('hovered');
            }
        }
    </script>
{% endblock %}
