button.btn.btn-primary {
    height: 30px;
    line-height: 30px;
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 15px;
    background: $sw-color-brand-primary;
    border-color: $sw-color-brand-primary;
    text-transform: uppercase;
}
.cms-element-gaisbock-patnerpage-container {
    font-size: 26px;
    line-height: 35px;
    font-family: 'Blacker-display';
    width: 100%;
    margin: 0 auto;
    letter-spacing: 0;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 60px;
}

.account-register {
    max-width: 1024px;
    margin: 0 auto;
    margin-bottom: 50px;
    .row {
        > div {
            flex: 0 0 50%;
            max-width: 50%;
            @media(max-width:1024px) {
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
    }
    form.login-form {
        margin-top: 25px;
    }
    .login-card,
    .register-card {
        max-width: 326px;
        @media(max-width:1024px) {
            max-width: 100%;
        }
    }

    .form-group {
        margin-top: 0;
        width: 100%;
        margin-bottom: 15px;
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
    .form-label {
        display: none;
    }
    .form-control {
        height: 30px;
        border-radius: 15px;
        border: 1px solid #707070;
        font-size: 13px;
        letter-spacing: 0.78px;
        font-weight: 700;
        color: #C9AC77;
        font-family: $sw-font-family-base;
        &::placeholder {
            color: #C9AC77;
        }
    }
    .login-password-recover a {
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.12px;
        color: $sw-color-brand-primary;
    }
    .card-title {
        font-size: 25px;
        line-height: 31px;
        letter-spacing: 0.13px;
        font-family: $sw-font-family-headline;
        border-bottom: 1px solid #707070;
    }
    .register-form {
        margin-top: 25px;
        border-bottom: 1px solid #707070;
        padding-bottom: 25px;
        .g-2, .gy-2 {
            --bs-gutter-y: 0;
        }
        .form-text.js-validation-message {
            font-size: 12px;
            line-height: 15px;
            letter-spacing: 0.12px;
            margin-top: 6px;
            display: block;
            font-weight: 600;
            color: $sw-color-brand-primary;
        }
    }   
    .register-personal {
        margin-bottom: 0;
    }
    .register-address .card-title {
        margin-bottom: 25px;
    }
    .register-submit {
        margin: 0;
        width: auto;
        display: inline-block !important;
    }
    .register-address {
        margin-bottom: 1rem;
    }
}
.account-register {
    .form-control{
        &::placeholder{
            text-transform:uppercase;
        }
    }
    .form-select {
        border-radius: 15px;
        border: 1px solid $sw-border-color;
        font-size: 13px;
        font-weight: 700;
        color: $sw-color-brand-secondary;
        font-family: $sw-font-family-base;
        height: 30px;
        letter-spacing: 0.78px;
        line-height: 14px;
        padding: 0 10px;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23C9AC77' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 2 11 8 5 14'/%3e%3c/svg%3e");
        max-width: 105px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width: 100%;
        text-transform:uppercase;
    }   
    .country-select {
        max-width: 246px;
    } 
    .login-submit .btn,
    .register-submit .btn {
        font-size: 13px;
        letter-spacing: 0.78px;
        height: 30px;
        line-height: 29px !important;
    }
}
.data-protection-information label {
    color: $sw-color-brand-primary;
}
.form-text.privacy-notice {
    strong {
        color:$sw-color-brand-primary;
    }
}
.register-different-shipping {
    padding-left: 0;
    [type="checkbox"]:checked,
    [type="checkbox"]:not(:checked) {
        position: absolute;
        left: -9999px;
    }
    [type="checkbox"]:checked + label,
    [type="checkbox"]:not(:checked) + label
    {
        position: relative;
        padding-left: 28px;
        cursor: pointer;
        display: inline-block;
        color: $sw-color-brand-primary;
    }
    [type="checkbox"]:checked + label:before,
    [type="checkbox"]:not(:checked) + label:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 18px;
        height: 18px;
        border: 1px solid $sw-color-brand-primary;
        border-radius: 100%;
        background: #fff;
        @media(max-width:767px) {
            width: 16px;
            height: 16px;
        }
    }
    [type="checkbox"]:checked + label:after,
    [type="checkbox"]:not(:checked) + label:after {
        content: '';
        width: 10px;
        height: 10px;
        background: $sw-color-brand-secondary;
        position: absolute;
        top: 4px;
        left: 4px;
        border-radius: 100%;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
        @media(max-width:767px) {
            width: 8px;
            height: 8px;
        }
    }
    [type="checkbox"]:not(:checked) + label:after {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    [type="checkbox"]:checked + label:after {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}


@include media-breakpoint-down(md) {
    .account-register{
        .card-title {
            font-size: 18px;
        }  
    }
    .card{
        .login-card {
            padding-top: 40px;
        }
    }
    .cms-element-gaisbock-patnerpage-container {
        padding-top: 15px;
        padding-bottom: 30px;
        font-size: 18px;
        line-height: 24px;
    }
}