{% block pluszwei_faq_manager_index %}
<div class="container">
    {% sw_include '@PluszweiFaqManager/storefront/page/faq/index/search.html.twig' %}

    {% sw_include '@PluszweiFaqManager/storefront/page/faq/index/featured-articles.html.twig' %}

    {% sw_include '@PluszweiFaqManager/storefront/page/faq/index/categories.html.twig' %}
</div>
{% endblock %}

