{% block neno_marketing_essentials_tabs_list %}
<div class="neno-marketing-essentials-tabs-list">
    <sw-card position-identifier="nme-tabs-list">
        <sw-container columns="1fr 1fr 1fr">
            <sw-button
                :disabled="false"
                :square="false"
                :block="false"
                :isLoading="false"
                variant="primary"
                :routerLink="{ name: 'neno.marketing.essentials.overview.tabsCreate' }"
                style="text-align: center"
            >
                {{ $t('neno-marketing-essentials.tabs.general.addTabText') }}
            </sw-button>
        </sw-container>
        <sw-container class="neno-marketing-essentials-tabs-list--listing-container">
            <sw-entity-listing
                class="neno-marketing-essentials-tabs-list--listing"
                v-if="tab"
                :items="tab"
                :repository="repository"
                :showSelection="false"
                :columns="columns"
                detailRoute="neno.marketing.essentials.overview.tabsDetail"
            >
            </sw-entity-listing>
        </sw-container>
    </sw-card>
</div>
{% endblock %}
