<div class="neti-store-locator-detail-address">
    <neti-store-locator-address-basic-card
            :isLoading="isLoading"
            :store="store"
            :countries="countries"
    ></neti-store-locator-address-basic-card>

    <neti-store-locator-address-misc-card
            :isLoading="isLoading"
            :store="store"
    ></neti-store-locator-address-misc-card>

    <neti-store-locator-address-google-places-card
            :isLoading="isLoading"
            :store="store"
    ></neti-store-locator-address-google-places-card>
</div>
