<div class="neti-store-locator-detail-base">
    <neti-store-locator-contact-basic-card
            :store="store"
            :isLoading="store.isLoading"
    ></neti-store-locator-contact-basic-card>
</div>
