/*
Override variable defaults
==================================================
This file is used to override default SCSS variables from the Shopware Storefront or Bootstrap.

Because of the !default flags, theme variable overrides have to be declared beforehand.
https://getbootstrap.com/docs/4.0/getting-started/theming/#variable-defaults
*/
$fontWeight700:700;
$fontWeight600:600;
$fontWeight500:500;

@font-face {
	font-family: 'Blacker-display';
	font-style: normal;
	font-weight: 900;
	src: local(''),
	url('../../../bundles/gaisbock/storefront/assets/fonts/Blacker Display/Blacker Display  Heavy/Blacker-Display-Heavy.eot') format('embedded-opentype'), /* IE6-IE8 */
	url('../../../bundles/gaisbock/storefront/assets/fonts/Blacker Display/Blacker Display  Heavy/Blacker-Display-Heavy.woff2') format('woff2'), /* Super Modern Browsers */
	url('../../../bundles/gaisbock/storefront/assets/fonts/Blacker Display/Blacker Display  Heavy/Blacker-Display-Heavy.woff') format('woff'), /* Modern Browsers */
	url('../../../bundles/gaisbock/storefront/assets/fonts/Blacker Display/Blacker Display  Heavy/Blacker-Display-Heavy.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../../../bundles/gaisbock/storefront/assets/fonts/Blacker Display/Blacker Display  Heavy/Blacker-Display-Heavy.otf') format('otf'); /* Legacy iOS */
}
@font-face {
	font-family: 'Blacker-display';
	font-style: normal;
	font-weight: 500;
	src: local(''),
	url('../../../bundles/gaisbock/storefront/assets/fonts/Blacker Display/Blacker Display  Regular/Blacker-Display-Regular.eot') format('embedded-opentype'), /* IE6-IE8 */
	url('../../../bundles/gaisbock/storefront/assets/fonts/Blacker Display/Blacker Display  Regular/Blacker-Display-Regular.woff2') format('woff2'), /* Super Modern Browsers */
	url('../../../bundles/gaisbock/storefront/assets/fonts/Blacker Display/Blacker Display  Regular/Blacker-Display-Regular.woff') format('woff'), /* Modern Browsers */
	url('../../../bundles/gaisbock/storefront/assets/fonts/Blacker Display/Blacker Display  Regular/Blacker-Display-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../../../bundles/gaisbock/storefront/assets/fonts/Blacker Display/Blacker Display  Regular/Blacker-Display-Regular.otf') format('otf'); /* Legacy iOS */
}

// Bradin Text

@font-face {
	font-family: 'Brandon-text';
	font-style: normal;
	font-weight: 700;
	src: local(''),
	url('../../../bundles/gaisbock/storefront/assets/fonts/Brandon/Brandon Text Bold/BrandonText-Bold.eot') format('embedded-opentype'), /* IE6-IE8 */
	url('../../../bundles/gaisbock/storefront/assets/fonts/Brandon/Brandon Text Bold/BrandonText-Bold.woff2') format('woff2'), /* Super Modern Browsers */
	url('../../../bundles/gaisbock/storefront/assets/fonts/Brandon/Brandon Text Bold/BrandonText-Bold.woff') format('woff'), /* Modern Browsers */
	url('../../../bundles/gaisbock/storefront/assets/fonts/Brandon/Brandon Text Bold/BrandonText-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../../../bundles/gaisbock/storefront/assets/fonts/Brandon/Brandon Text Bold/BrandonText-Bold.otf') format('otf'); /* Legacy iOS */
}
@font-face {
	font-family: 'Brandon-text';
	font-style: normal;
	font-weight: 500;
	src: local(''),
	url('../../../bundles/gaisbock/storefront/assets/fonts/Brandon/Brandon Text Regular/BrandonText-Regular.eot') format('embedded-opentype'), /* IE6-IE8 */
	url('../../../bundles/gaisbock/storefront/assets/fonts/Brandon/Brandon Text Regular/BrandonText-Regular.woff2') format('woff2'), /* Super Modern Browsers */
	url('../../../bundles/gaisbock/storefront/assets/fonts/Brandon/Brandon Text Regular/BrandonText-Regular.woff') format('woff'), /* Modern Browsers */
	url('../../../bundles/gaisbock/storefront/assets/fonts/Brandon/Brandon Text Regular/BrandonText-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../../../bundles/gaisbock/storefront/assets/fonts/Brandon/Brandon Text Regular/BrandonText-Regular.otf') format('otf'); /* Legacy iOS */
}
@font-face {
	font-family: 'Brandon-text';
	font-style: normal;
	font-weight: 600;
	src: local(''),
	url('../../../bundles/gaisbock/storefront/assets/fonts/Brandon/Bardon Text Medium/BrandonText-Medium.eot') format('embedded-opentype'), /* IE6-IE8 */
	url('../../../bundles/gaisbock/storefront/assets/fonts/Brandon/Bardon Text Medium/BrandonText-Medium.woff2') format('woff2'), /* Super Modern Browsers */
	url('../../../bundles/gaisbock/storefront/assets/fonts/Brandon/Bardon Text Medium/BrandonText-Medium.woff') format('woff'), /* Modern Browsers */
	url('../../../bundles/gaisbock/storefront/assets/fonts/Brandon/Bardon Text Medium/BrandonText-Medium.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../../../bundles/gaisbock/storefront/assets/fonts/Brandon/Bardon Text Medium/BrandonText-Medium.otf') format('otf'); /* Legacy iOS */
}


@font-face {
	font-family: 'Rama-Slab';
	font-style: normal;
	font-weight: 600;
	src: local(''),
	url('../../../bundles/gaisbock/storefront/assets/fonts/Rama-Slab/Rama-Slab-Semi-Bold/Rama-Slab-SemiBold.eot') format('embedded-opentype'), /* IE6-IE8 */
	url('../../../bundles/gaisbock/storefront/assets/fonts/Rama-Slab/Rama-Slab-Semi-Bold/Rama-Slab-SemiBold.woff2') format('woff2'), /* Super Modern Browsers */
	url('../../../bundles/gaisbock/storefront/assets/fonts/Rama-Slab/Rama-Slab-Semi-Bold/Rama-Slab-SemiBold.woff') format('woff'), /* Modern Browsers */
	url('../../../bundles/gaisbock/storefront/assets/fonts/Rama-Slab/Rama-Slab-Semi-Bold/Rama-Slab-SemiBold.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../../../bundles/gaisbock/storefront/assets/fonts/Rama-Slab/Rama-Slab-Semi-Bold/Rama-Slab-SemiBold.otf') format('otf'); /* Legacy iOS */
}