.modal {
    .modal-body {
        padding: 0 38px;
    }
    .gaisbock-customer-review {
        .product-detail-review-form-rating {
            width: 100%;
            display: flex;
            align-items: center;
            div#review-form-rating {
                .product-detail-review-form-star.is-active .icon {
                    color: $sw-color-brand-secondary;
                }
            }
            > label {
                font-size: 15px;
                letter-spacing: 1.2px;
                font-family: $sw-font-family-base;
                font-weight: 700;
                line-height: 18px;
                margin-left: 0;
                padding-right: 15px;
                margin-bottom: 0;
            }
            .h6.product-detail-review-form-rating-text {
                font-size: 15px;
                letter-spacing: 1.2px;
                font-family: $sw-font-family-base;
                font-weight: 700;
                line-height: 18px;
                margin-left: 0;
                padding-right: 15px;
                margin-bottom: 0;
            }
        }
        .modal-header button {
            right: 20px;
            top: 46px;
            position: absolute;
        }
    }
    .form-group.product-detail-review-form-content label {
        display: none;
    }
    .product-detail-review-form-title,
    .form-group.product-detail-review-form-content {
        margin: 0;
        label.form-label {
            display: none;
        }
        input {
            height: 30px;
            border-radius: 15px;
            font-size: 13px;
            letter-spacing: 0.78px;
            padding: 0 17px;
            border-color: #707070;
            color: $sw-color-brand-secondary;
        }
        textarea {
            border-radius: 15px;
            margin-top: 16px;
            border-color: #707070;
            color: $sw-color-brand-secondary;
            font-size: 13px;
            letter-spacing: 0.78px;
            padding: 0 17px;
        }
    }
    .product-detail-review-form-footer {
        flex-wrap: wrap;
        flex-direction: column-reverse;
        .required-fields {
            margin-top: 15px;
            font-size: 12px;
            letter-spacing: 0.12px;
            line-height: 15px;
        }
    }
    .product-detail-review-form-actions {
        margin-left: 0 !important;
        margin-top: 15px;
    }
}
.accordian-review {
    border-top: 1px solid #707070;
    .product-detail-tabs{
        @media(min-width:768px){
            display: none;
        }
    }
    .offcanvas-body .product-detail-review {
        @media(max-width:767px){
            display: block;
        }
    }
}
.offcanvas-body .product-detail-review {
    @media(max-width:767px){
        display: none;
    }
}
.product-detail-tabs {
    .product-detail-review {
        margin-top: 35px;
        .product-detail-review-rating {
            .product-detail-review-title {
                font-size: 15px;
                letter-spacing: 1.2px;
                font-family: $sw-font-family-base;
                text-transform: uppercase;
                font-weight: 700;
                line-height: 18px;
                padding-right: 20px;
            }
        }
        .point-full {
            .icon-review {
                color: $sw-color-brand-secondary;
            }
        }
        .h6 {
            font-family: $sw-font-secondary;
            font-size: 47px;
            letter-spacing: 3.29px;
            line-height: 55px;
            margin-bottom: 15px;
        }
        .product-detail-review-checkbox {
            padding: 0;
            width: auto;
            label {
                small {
                    font-size: 12px;
                    letter-spacing: 0.12px;
                    line-height: 23px;
                    font-weight: 600;
                }
                .point-container {
                    .icon {
                        margin-left: 10px;
                        color: $sw-color-brand-secondary;
                    }
                }
            }
        }
        .product-detail-review-progressbar-col {
            .product-detail-review-progressbar-container {
                height: 8px;
                margin-top: 8px;
            }
            .product-detail-review-progressbar-bar {
                background-color: $sw-color-brand-primary;
            }
        }
        .product-detail-review-share {
            padding-left: 0;
            p {
                margin-bottom: 0;
                small {
                    font-size: 12px;
                    letter-spacing: 0.12px;
                    line-height: 23px;
                    font-weight: 600;
                }
            }
        }
        .product-detail-review-teaser {
            .btn {
                background: $sw-color-brand-secondary;
                font-size: 15px;
                line-height: 16px;
                letter-spacing: 0.15px;
                height: 26px;
                border-radius: 15px;
                border-color:$sw-color-brand-secondary;
                margin-top: 25px;
            }
            .modal {
                background: rgba(0,0,0,0.3);
                .btn {
                    margin-top: 0;
                    color: #fff;
                }
            }
            .modal-dialog {
                left: 50%;
                top: 50%;
                margin: 0;
                transform: translate(-50%,-50%);
            }
            .modal.show .modal-dialog {
                transform: translate(-50%,-50%);
            }
            .modal-content {
                border: 1px solid #707070;
            }
            .modal-header {
                border: 0;
                margin-top: 13px;
                padding-right: 20px;
                button {
                    width: 25px;
                    height: 25px;
                    opacity: 1;
                    font-size: 25px;
                    font-weight: 400;
                }
            }
            .product-detail-review-info {
                padding: 37px 0 7px;
                border-top: 1px solid #707070;
                margin-top: 37px;
            }
            .gaisbock-review-list hr {
                border-color: #707070 !important;
                opacity: 1;
            }
            .product-detail-review-list-content {
                .product-detail-review-item-info {
                    .product-detail-review-item-date {
                        p {
                            font-size: 12px;
                            line-height: 15px;
                            letter-spacing: 0.12px;
                            color: $sw-color-brand-primary;
                            font-weight: 600;
                            margin-bottom: 5px;
                        }
                    }
                }
            }
            .product-detail-review-item-points {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 15px;
                p {
                    margin-bottom: 0;
                    font-size: 15px;
                    margin-bottom: 0;
                    letter-spacing: 1.2px;
                    line-height: 18px;
                    text-transform: uppercase;
                    font-weight: 600;
                    width: 50%;
                    font-weight: 700;
                    font-family: $sw-font-family-base;
                }
                .product-review-rating {
                    width: 50%;
                }
            }
            .product-detail-review-item-title {
                padding-left: 20px;
                padding-bottom: 10px;
            }
            .h5 {
                font-size: 15px;
                margin-bottom: 0;
                letter-spacing: 1.2px;
                line-height: 18px;
                text-transform: uppercase;
                font-weight: 700;
                font-family: $sw-font-family-base;
            }
            .product-detail-review-item-content {
                font-size: 18px;
                line-height: 23px;
            }
        }
    }
}
.product-detail-buy {
    padding-left: 65px;
    max-width: 600px;
    @media(max-width:992px) {
        padding-left: 20px;
        max-width: 100%;
        margin-top: 25px;
    }
    .product-detail-name {
        font-size: 47px;
        line-height: 55px;
        text-transform: uppercase;
        letter-spacing: 3.29px;
        font-family: $sw-font-secondary;
        margin-bottom: 0;
    }
    .product-detail-price-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 7px;
        .product-detail-price-unit {
            width: 50%;
            text-align: center;
            .price-unit-label {
                font-size: 18px;
                line-height: 27px;
            }
        }
    }
    .product-detail-reviews {
        display: flex;
        align-items: center;
        margin-bottom: 3px;
        .product-review-rating {
            padding-right: 30px;
            .icon {
                color: $sw-color-brand-secondary;
            }
            a {
                font-size: 12px;
                line-height: 17px;
                letter-spacing: 0.36px;
                text-decoration: underline;
                font-weight: 600;
            }
        }
    }
    .product-detail-price {
        font-size: 20px;
        letter-spacing: 1.4px;
        line-height: 27px;
        font-weight: 700;
        color:$sw-color-brand-secondary;
    }
    .gaisbock-product-description {
        margin-top: 10px;
        font-size: 18px;
        margin-bottom: 50px;
        h3 {
            font-size: 34px;
            line-height: 42px;
            letter-spacing: 0.17px;
            @media(max-width:767px) {
                font-size: 27px;
                line-height: 30px;
                letter-spacing: 0.14px;
            }
        }
    }
    .product-detail-form-container {
        margin-bottom: 0.5em;
        .btn {
            text-transform: uppercase;
            letter-spacing: 0.78px;
            font-size: 13px;
            line-height: 29px;
        }
    }
    .product-detail-delivery-information {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 42px;
        .product-delivery-information {
            p {
                font-size: 12px;
                line-height: 17px;
                letter-spacing: 0.36px;
                color: #3AB12B;
                margin-bottom: 0;
                padding-right: 30px;
                font-weight: 600;
            }
            .delivery-status-indicator {
                display: none;
            }
        }
        .product-detail-ordernumber-label,
        .product-detail-ordernumber {
            font-size: 12px;
            letter-spacing: 0.12px;
            line-height: 15px;
            font-weight: 600;
        }
        .product-detail-ordernumber {
            padding-left: 2px;
        }
    }
    .accordion {
        border-top: 1px solid #707070;
        padding: 0px 0;
        .gaisbock-title-tab {
            position: relative;
            margin-bottom: 0;
            span {
                font-size: 15px;
                letter-spacing: 1.2px;
                line-height: 18px;
                font-family: 'Brandon-text';
                text-transform: uppercase;
                display: block;
                height: 100%;
                padding: 17px 0;
            }
            .collapsed {
                .icon {
                    position: absolute;
                    right: 20px;
                    top: 0px;
                    color: $sw-color-brand-primary;
                    width: 14px;
                    transform: rotate(-90deg);
                }
            }
            .icon {
                position: absolute;
                right: 20px;
                top: 0px;
                color: $sw-color-brand-primary;
                width: 14px;
            }
        }
        &:last-child {
            border-bottom: 1px solid #707070;
        }
    }
    .gaisbock-description-contain-title-description {
        display: flex;
        flex-wrap: wrap;
        margin: 10px 0;
        .gasibook-variant-img {
            img {
                height: 100px;
                object-fit: contain;
            }
        }
        .icon {
            margin: 0 18px;
        }
        .gaisbock-product-image-text {
            font-size: 12px;
            line-height: 15px;
            letter-spacing: 0.12px;
            margin-top: 5px;
            text-align: center;
        }
    }
}
.product-detail-media,
.product-detail-buy {
    @media(min-width:992px) {
        width: 50%;
    }
}
.modal-backdrop.fade.show {
    display: none;
}
.modal-open .is-sticky {
    z-index: 1;
}
.modal-open .product-detail-review-widget {
    z-index: 9;
}
.modal-open {
    overflow-y: auto !important;
}

@include media-breakpoint-down(md){  
    body {
        .product-detail-buy {
            margin-top: 0;
        }
        .product-main-title .product-wishlist {
            display: none;
        }
        .product-main-title h1.product-detail-name {
            width: 100%;
            text-align: center;
        }
        .gallery-slider-row {
            margin-bottom: 0;
        }
        .product-detail-buy .product-detail-name {
            font-size: 42px;
            line-height: 46px;
            letter-spacing: 2.94px;
        }
        .product-detail-buy .product-detail-reviews {
            flex-wrap: wrap;
        }
        .product-detail-buy .product-detail-reviews .product-review-rating {
            padding-right: 0;
            margin-right: 0;
        }
        .product-detail-buy .product-detail-reviews a.product-detail-reviews-link {
            width: 100%;
            font-size: 11px;
            letter-spacing: 0.33px;
            line-height: 16px;
            text-decoration: underline;
        }
        .product-detail-buy .product-detail-reviews .product-review-rating .icon {
            width: 12px;
            height: 12px;
        }
        .product-detail-buy .product-detail-price-container {
            flex-wrap: wrap;
            justify-content: end;
            margin-top: -42px;
            flex-wrap: wrap;
        }
        .product-detail-buy .product-detail-price-container .product-detail-price-unit {
            width: 100%;
            text-align: right;
        }
        .product-detail-buy .product-detail-price {
            font-size: 17px;
            letter-spacing: 1.19px;
            line-height: 22px;
        }
        .product-detail-buy .product-detail-price-container .product-detail-price-unit .price-unit-label {
            font-size: 16px;
            line-height: 19px;
        }
        .product-detail-buy .gaisbock-product-description {
            line-height: 19px;
            font-size: 16px;
            margin-bottom: 20px;
        }
        .product-detail-buy .product-detail-form-container .btn {
            letter-spacing: 0.6px;
            font-size: 10px;
            line-height: 22px;
            height: 23px;
        }
        .product-detail-buy .product-detail-delivery-information .product-delivery-information {
            width: 100%;
        }
        .product-detail-buy .accordion .gaisbock-title-tab span {
            font-size: 14px;
            letter-spacing: 1.12px;
        }
        .product-detail-tabs .product-detail-review {
            margin-top: 15px;
        }
        .accordian-review .offcanvas-body .product-detail-review > div {
            width: 100%;
        }
        .product-detail-tabs .product-detail-review .product-detail-review-rating .product-detail-review-title {
            line-height: 17px;
            font-size: 13px;
            letter-spacing: 0.91px;
            margin-bottom: 0;
        }
        .product-detail-review-rating {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .product-review-rating {
            margin-right: 0;
        }
        .product-detail-tabs .product-detail-review .point-full .icon-review {
            width: 13px;
            height: 13px;
        }
        .product-detail-tabs .product-detail-review .h6 {
            font-size: 42px;
            letter-spacing: 2.94px;
            line-height: 46px;
            margin-bottom: 5px;
        }
    }
}