{% block sw_cms_create_wizard_page_type_options_product_list %}
    {% parent %}

    <div class="sw-cms-create-wizard__page-type" @click="onPageTypeSelect('neti_store_locator')">
        <sw-icon name="regular-products" size="24"></sw-icon>
        <p>{{ $t('neti-next-store-locator.sw-cms.sorting.labelSortByStoreLocator') }}</p>
    </div>
{% endblock %}
