<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_block_solid_ie_feed %}
<div
    class="sw-cms-block-solid-ie-feed"
>
    <slot
        name="feed"
    ></slot>
</div>
{% endblock %}
