{% block sw_cms_block_image_text_centered_preview %}
    <div class="sw-cms-gaisbock-image-titles-button-section">
        <div class="text-section">
            <h2>Main Title</h2>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
        </div>
    </div>
{% endblock %}

