{% block sw_cms_block_gaisbock_theme_custom_category_extension %}
    <div class="sw-cms-block-custom-category-extension">
        <slot name="gaisbockCustomCategoryExtension"></slot>
    </div>
{% endblock %}