<div class="neti-store-locator-contact-form-detail-base">
    <transition-group name="neti-store-locator-contact-form-fade" mode="out-in">
        <div
            key="info"
            class="neti-store-locator-contact-form-detail-base__info-holder"
        >
            <neti-store-locator-contact-form-general-basic-card
                :entity="entity"
                :editMode="editMode"
                :isLoading="isLoading">

            </neti-store-locator-contact-form-general-basic-card>
        </div>
    </transition-group>
</div>
