{% block sw_cms_block_gaisbock_image_titles_button_text %}
    <div class="sw-cms-block-image">
        <slot name="gaisbockImageTitleButton">
            {% block sw_cms_block_image_slot_image %}{% endblock %}
        </slot>
    </div>
{% endblock %}