{% block sw_cms_block_gaisbock_theme_category_image_text %}
    <div class="sw-cms-block-category-image-text">
        <slot name="left"></slot>
        <slot name="center"></slot>
        <slot name="right"></slot>
    </div>
{% endblock %}