footer.footer-main {
    background-color: $sw-footer-background;
    border: 0;
    padding-top: 111px;
    .custom-texts {
        align-items: center;
        justify-content: center;
        padding: 0 20px;
        flex-wrap: wrap;
        margin: 0 auto;
        margin-bottom: 50px;
        max-width: 1024px;
        > div {
            width: 33.33%;
            justify-content: center;
            display: flex;
            flex-wrap: wrap;
            div {
                color: $sw-color-brand-secondary;
            }
        }
        .customer-count {
            font-family: $sw-font-secondary;
            letter-spacing: 4.27px;
            font-size: 61px;
            border: 4px solid #fff;
            border-radius: 100%;
            width: 92px;
            text-align: center;
            height: 92px;
        }
        .cuustomer-content {
            width: 100%;
            text-align: center;
            margin-top: 15px;
            font-size: 21px;
            line-height: 26px;
            letter-spacing: 0.21px;
            font-family: $sw-font-family-headline;
            font-weight: 900;
        }
    }
    .footer__title {
        font-size: 15px;
        color: $sw-footer-heading-color;
        font-family: $sw-font-family-base;
        font-weight: $fontWeight700;
        letter-spacing: 1.2px;
        line-height: 21px;
        text-transform: uppercase;   
        width: 100%;
        margin-bottom: 0;
    }
    .footer__title.third-column-text {
        max-width: 116px;
        margin: 0 auto;
    }
    .footer__content {
        letter-spacing: 0;
        color: $sw-footer-text-color;
        font-size: 15px;
        line-height: 22px;
        margin-bottom: 0;
        a {
            color: $sw-footer-text-color;
        }
    }
    .handler-section-description.footer__content {
        max-width: 280px;
        margin: 0 auto;
        a {
            text-decoration: underline;
        }
    }
    .footer-column-content {
        li a {
            font-size: 16px;
            letter-spacing: 0.32px;
            line-height: 25px;
            color: #F4F4F4;
            text-decoration: none;
        }
    }
    .newsletter-form{
        position: relative;
        .btn-primary {
            position: absolute;
            top: 17px;
            right: -2px;
            background: transparent;
            border: 0;
        }
        .icon {
            display: none;
        }
        .form-control {
            border-radius: 15px;
            height: 26px;
            color: $sw-color-brand-secondary;
            font-size: 13px;
            letter-spacing: 0.78px;
            font-weight: $fontWeight700;
            &::placeholder {
                text-transform: uppercase;
                font-size: 13px;
                color: $sw-color-brand-secondary;
            }
        }
    }
    .footer-contact {
        .footer-contact-hotline,
        .footer-contact-hotline-contact,
        .footer-contact-hotline-information {
            p {
                color: $sw-footer-text-color;
                font-size: 15px;
                line-height: 25px;
                margin-bottom: 0;
            }
        }
        .footer-contact-hotline,
        .footer-contact-hotline-contact {
            p {
                padding: 0 20px;
            }
        }
    }
    .social-icons {
        padding-top: 10px;
        display: block;
        a {
            padding: 0 8px;
            .icon {
                color: $sw-footer-text-color;
            }
        }
    }
    .footer-logos {
        margin-top: 18px;
    }
    .footer-bottom {
        background-color: $sw-footer-background;
        position: relative;
        max-width: 1440px;
        margin: 0 auto;
        .footer-service-menu-list {
            li {
                padding: 0 48px;
                a {
                    color: #F4F4F4;
                    font-size: 11px;
                    letter-spacing: 0.88px;
                    text-transform: uppercase;
                    line-height: 14px;
                    font-family: 'national-test';   
                }
            }
        }
        .footer-copyright {
            position: absolute;
            top: 37px;
            right: 45px;
            color: #F4F4F4;
            font-family: 'national-test'; 
            font-size: 8px;
            letter-spacing: 0.64px;
            .icon {
                display: none;
            }
        }
    }
    .try-it-section {
        width: 100%;
    }
}

@include media-breakpoint-down(md){ 
    .footer-contact-hotline-contact{
        a{
            color:#fff;
        }
    }
    footer.footer-main {
        padding-top: 58px;
        overflow-x: hidden;
        .custom-texts .customer-count  {
            height: 57px;
            width: 57px;
            letter-spacing: 2.45px;
            font-size: 35px;
            border: 2px solid $sw-footer-text-color;
        }
        .custom-texts {
            margin-bottom: 50px;
        }
        .custom-texts .cuustomer-content {
            margin-top: 10px;
            font-size: 13px;
            line-height: 17px;
            letter-spacing: 0.13px;
            max-width: 58px;
            word-break: break-all;
            min-height: 58px;

            br {
                display: none;
            }
        }
    }
    footer.footer-main .custom-texts>div {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .footer-column {
        border-bottom: 0;
    }
    footer.footer-main .footer__title {
        font-size: 13px;
        letter-spacing: 0.91px;
        line-height: 17px;
        text-transform: uppercase;
        width: auto;
        margin-bottom: 0;
    }
    footer.footer-main .footer__title br,
    footer.footer-main .newsletter-form .btn-primary .icon {
        display: none;
    }
    footer.footer-main .footer-bottom .footer-copyright  {
        display: block;
        margin: 0 auto;
        text-align: center;
        width: 100%;
        position: revert;
        inset: 0;
        padding: 18px 0px 40px 0px;
    }
    footer.footer-main .footer__title.third-column-text {
        max-width: initial;
        margin: 0;
    }
    footer.footer-main .newsletter-form .icon {
        display: block;
    }
    .try-it-section {
        width: 100%;
    }
    .footer-column-content {
        padding: 0 20px;
    }
    .footer-column-headline {
        padding: 6px 0;
        justify-content: center;
    }
    footer.footer-main .try-it-section {
        width: auto;
    }
    footer.footer-main .footer__content {
        font-size: 12px;
        line-height: 16px;
    }
    footer.footer-main .newsletter-form .form-control {
        height: 25px;
        font-size: 10px;
        letter-spacing: 0.6px;
    }
    footer.footer-main .newsletter-form .form-control::placeholder {
        font-size: 10px;
        letter-spacing: 0.6px;
    }
    .footer-column-toggle .icon {
        color: $sw-footer-text-color;
    }
    .footer-column-toggle .icon>svg {
        top: -2px;
    }
    .newsletter-content  .footer-column-toggle .icon>svg {
        top: -7px;
    }
    .newsletter-title-one.text-center.footer__title {
        padding-bottom: 8px;
    }
    picture.footer-logo-picture img {
        margin-top: 36px;
        width: 108px;
    }
    .footer-contact-hotline {
        flex-wrap: wrap;
    }
    .footer-contact-hotline p {
        width: 100%;
    }
    footer.footer-main .footer-contact .footer-contact-hotline p, footer.footer-main .footer-contact .footer-contact-hotline-contact p, footer.footer-main .footer-contact .footer-contact-hotline-information p {
        font-size: 12px;
        line-height: 18px;
    }
    .footer-contact-hotline-contact {
        margin-top: 20px;
    }
    .footer-service-menu-list {
        padding: 0;
    }
    footer.footer-main .footer-bottom .footer-service-menu-list li a {
        font-size: 9px;
        letter-spacing: .072px;
        line-height: 11px;
    }
    footer.footer-main .footer-bottom .footer-service-menu-list li {
        padding: 0 22px;
    }
}