.header-row {
    padding: 5px 20px;
    max-width: 1440px;
    .header-logo-col {
        position: absolute;
        left: 15px;
        padding: 0;
        top: 15px;
        @media(min-wdith:992px) {
            left:0;
        }
        @media(max-wdith:767px) {
            left:0;
        }
        width: auto;
        .header-logo-main {
            text-align: left;
            .header-logo-picture {
                margin: 0;
            }
        }
    }
    .nav-main {
        @media(min-width:768px) {
            width: auto;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            position: absolute;
            left: 50%;
            transform: translate(-50%,0);
            flex-grow: 1;
            top: 6px;
        }
    }
    .header-actions-col {
        padding: 0;
        display: flex;
        justify-content: flex-end;
        width: 100%;
        .gaisbock-custom-theme {
            justify-content: flex-end;
        }
        .icon {
            color: #fff;
        }
        .btn {
            --bs-btn-padding-x: 9px;
        }
        .top-bar-language {
            margin-right: 0;
            padding-right: 60px;
            @media(max-width:1199px) {
                padding-right: 15px;
            }
            .top-bar-list-item {
                color: #fff;
                padding: 0 10px;
                .top-bar-list-label {
                    border-radius: 100%;
                    width: 20px;
                    text-align: center;
                    height: 20px;
                    line-height: 18px;
                    font-size: 12px;
                    letter-spacing: 0.84px;
                    font-family: $sw-font-family-base;
                    font-weight: $fontWeight600;
                    color: #fff;
                }
            }
            .top-bar-list-item.item-checked .top-bar-list-label{
                border: 1px solid #DE1010;
            }
        }
    }
    .gaisbock-header-cart-mobile {
        @media(min-width:768px){
            display: none;
        }
    }
}
.nav-main {
    .main-navigation-menu {
        .main-navigation-link {
            @media(max-width:1199px) {
                padding-right: 15px;
                padding-left: 15px;
            }
        }
    }
}

@include media-breakpoint-up(md) {
    .nav-main {
        .main-navigation-menu {
            .main-navigation-link {
                color: #fff;
                font-family: $sw-font-family-base;
                padding-right: 25px;
                padding-left: 25px;
                font-weight: $fontWeight700;
                font-size: 15px;
                letter-spacing: 1.2px;
                text-transform: uppercase;
                &.active {
                    .main-navigation-link-text {
                        border-bottom: 4px solid #DE1010;
                    }
                }
            }
        }
    }
}

@include media-breakpoint-down(lg) {
    body {
        .header-main .top-bar .top-bar-nav {
            padding: 0;
            height: 30px;
        }
    }
    .header-row .header-logo-col {
        transform: translate(-50%,00%);
        left: 50%;
        margin: 0;
        top:7px;
        .header-logo-main-img {
            width: 108px;
            margin: 0 auto;
            display: block;
        }
    }
    .header-actions-mobile {
        width: auto;
        order: 2;
        padding: 0;
        position: absolute;
        .icon {
            color: #fff;
        }
        .btn {
            padding: 0;
        }
        .gaisbock-header-cart-mobile {
            padding-right: 13px;
        }
    }
}
@include media-breakpoint-down(md) { 
    .header-row .header-actions-col {
        width: auto;
        order: 1;
        .top-bar-nav-item.top-bar-language,
        .account-menu,
        .header-cart {
            display: none;
        }
    }
    .search-toggle {
        padding-right: 27px;
    }
    .header-actions-mobile {
        position: static;
        .gaisbock-header-cart-mobile {
            padding-right: 13px;
        }
    }
    .header-row {
        .header-actions-col .btn {
            --bs-btn-padding-x: 0;
        }
    }
}