@keyframes slideDown {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
  }
  @keyframes slideInLeft {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
.header-main{
animation: 0.5s ease-out 0s 1 slideInLeft;
z-index: 9;
}
.home-banner {
animation: 1.5s ease-out 0s 1 slideInLeft;
z-index: -1;
}
.reveal{
    position: relative;
    transform: translateY(80px);
    opacity: 0;
    transition: 1s all ease;
  }
  
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }

  .header-main {
    padding-bottom: 20px;
  }
  .is-act-home .header-main {
    padding-bottom: 0;
}
.cookie-permission-container + .js-pseudo-modal-template + .offcanvas.offcanvas-start {
    z-index: 99999;
}
.offcanvas-cookie{
    .js-offcanvas-cookie-accept-all , 
    .js-offcanvas-cookie-submit  {
        margin-bottom: 10px;
    }
}
.gaisbock-sticky-language-switcher {
    @media(min-width: 768px) {
        display: none;
    }
}
  body .header-row .header-actions-col .top-bar-language .top-bar-list-item .top-bar-list-label,
  body .header-row .header-actions-col .icon {
    color: $sw-header-text-color;
  }
  body.is-act-home .header-row .header-actions-col .top-bar-language .top-bar-list-item .top-bar-list-label,
  body.is-act-home .header-row .header-actions-col .icon {
    color: #fff;
  }
.hovered,
.hovered-header {
    background: $sw-color-brand-primary;
}
.hovered-header a.header-logo-main-link {
    display: block;
}
.hovered a.header-black-logo-main-link,
.hovered-header a.header-black-logo-main-link,
.is-act-home a.header-black-logo-main-link,
a.header-logo-main-link,
.is-sticky a.header-text-logo-main-link.gaisbock-text-sticky-logo {
    display: none;
}
.is-act-home a.header-logo-main-link,
.hovered a.header-logo-main-link{
    display: block;
}
.is-sticky .nav-main .main-navigation-menu .main-navigation-link,
body .is-sticky .header-row .header-actions-col .top-bar-language .top-bar-list-item .top-bar-list-label,
body .is-sticky .header-row .header-actions-col .icon,
.hovered .nav-main .main-navigation-menu .main-navigation-link,
.hovered-header .nav-main .main-navigation-menu .main-navigation-link,
body .hovered .header-row .header-actions-col .top-bar-language .top-bar-list-item .top-bar-list-label,
body .hovered .header-row .header-actions-col .icon,
body .hovered-header .header-row .header-actions-col .top-bar-language .top-bar-list-item .top-bar-list-label,
body .hovered-header .header-row .header-actions-col .icon {
    color: #fff;
}
.is-act-home .gaisbock-header-mobile-text-logo-white,
.is-act-home .is-sticky .gaisbock-header-mobile-text-logo {
    display: none;
}
.gaisbock-header-mobile-text-logo-white,
.is-sticky a.header-black-logo-main-link {
    display: none;
}
body .hovered .header-actions-mobile .icon,
body .hovered-header .header-actions-mobile .icon {
    color: #fff;
}
.is-act-home .is-sticky .gaisbock-header-mobile-text-logo-white,
.is-sticky .gaisbock-header-mobile-text-logo-white {
    display: block;
    @media(max-width:992px){
        padding-left: 40px;
    }
}
.is-sticky  a.header-text-logo-main-link.gaisbock-header-mobile-text-logo {
    @media(max-width:992px) {
        display: none;
    }
}
.is-sticky.hovered .search-toggle div#searchCollapse,
.is-sticky.hovered-header .search-toggle div#searchCollapse {
    position: fixed;
    background: #151515;
    width: 100%;
    max-width: 100%;
    right: 0;
    padding: 0px 0;
    top: 85px;
}
a.header-black-logo-main-link,
.is-sticky .gaisbock-header-mobile-text-logo-white {
    @media(max-width:992px){
        padding-left: 40px;
    }
}
.is-act-home .is-sticky .header-logo-main .gaisbock-text-sticky-logo {
    display: none;
}
body.modal-open .modal-backdrop.fade.show {
    display: none;
}
.main-navigation-menu > li.hover-menu:first-child {
    display: none;
}
.header-row {
    padding: 5px 20px 0;
    max-width: 1440px;
    .header-logo-col {
        position: static;
        left: 15px;
        padding: 0;
        top: 15px;
        z-index: 999;
        @media(min-wdith:992px) {
            left:0;
        }
        @media(max-wdith:767px) {
            left:0;
        }
        width: auto;
        .header-logo-main {
            text-align: left;
            .header-logo-picture {
                margin: 0;
            }
        }
    }
    .nav-main {
        @media(min-width:768px) {
            width: auto;
            margin: 0 auto;
            display: flex;
            justify-content: center;

            top: 6px;
        }
    }
    .header-actions-mobile{
        @media(min-width:992px) {
            display:none;
        }
    }
    .header-actions-col {
        padding: 0;
        display: flex;
        justify-content: flex-end;
        width: auto;
        .gaisbock-custom-theme {
            justify-content: flex-end;
        }
        .icon {
            color: #fff;
        }
        .btn {
            --bs-btn-padding-x: 9px;
        }
        .top-bar-language {
            margin-right: 0;
            padding-right: 60px;
            @media(max-width:1199px) {
                padding-right: 15px;
            }
            .top-bar-list-item {
                color: #fff;
                padding: 0 10px;
                .top-bar-list-label {
                    border-radius: 100%;
                    width: 20px;
                    text-align: center;
                    height: 20px;
                    line-height: 18px;
                    font-size: 12px;
                    letter-spacing: 0.84px;
                    font-family: $sw-font-family-base;
                    font-weight: $fontWeight600;
                    color: #fff;
                }
            }
            .top-bar-list-item.item-checked .top-bar-list-label{
                border: 1px solid #DE1010;
            }
        }
    }
    .gaisbock-header-cart-mobile {
        @media(min-width:768px){
            display: none;
        }
    }
}
.nav-main {
    .main-navigation-menu {
        .main-navigation-link {
            @media(max-width:1199px) {
                padding-right: 15px !important;
                padding-left: 15px !important;
            }
        }
    }
}
.is-sticky .header-logo-main .gaisbock-text-sticky-logo {
    @media(max-wdith:9992px) {
        padding-left: 43px;
    }
}
.gaisbock-text-sticky-logo,
.gaisbock-header-mobile-text-logo {
    display: none;
}
.is-sticky {
    position: fixed;
    background: $sw-top-header-background;
    padding: 8px 0 0;
    z-index: 99;
    animation: slideDown 0.35s ease-out;
    width:100%;
    .header-logo-main {
        a.header-logo-main-link {
            display: none;
        }
        .gaisbock-text-sticky-logo {
            display: block;
        }
    }
  }
  .is-sticky .header-logo-picture img {
      max-width: 50%;
  }

.gaisbock-header-main{
    button.offcanvas-close {
      display:none;
    }
}
@include media-breakpoint-up(md) {
    .is-act-home {
        .nav-main {
            .main-navigation-menu {
                .main-navigation-link {
                    color: #fff;
                    font-family: $sw-font-family-base;
                    padding-right: 25px;
                    padding-left: 25px;
                    font-weight: $fontWeight700;
                    font-size: 15px;
                    letter-spacing: 1.2px;
                    text-transform: uppercase;
                    padding-bottom: 0;
                    line-height: 21px;
                    &.active {
                        .main-navigation-link-text {
                            border-bottom: 4px solid #DE1010;
                        }
                    }
                }
            }
        }
    }
    .nav-main {
        .main-navigation-menu {
            .main-navigation-link {
                color: $sw-header-text-color;
                font-family: $sw-font-family-base;
                padding-right: 25px;
                padding-left: 25px;
                font-weight: $fontWeight700;
                font-size: 15px;
                letter-spacing: 1.2px;
                text-transform: uppercase;
                padding-bottom: 0;
                &.active {
                    .main-navigation-link-text {
                        border-bottom: 4px solid #DE1010;
                    }
                }
            }
        }
    }
}

@include media-breakpoint-down(lg) {
    .cart-offcanvas {
        z-index: 99999 !important;
    }
    .hovered-header .gaisbock-header-mobile-text-logo-white, .is-act-home .hovered-header .gaisbock-header-mobile-text-logo-white {
        padding-left: 40px;
    }
    body .header-actions-mobile .icon {
        color:$sw-color-brand-primary;
    }
    body.is-act-home .header-actions-mobile .icon {
        color:#fff;
    }
    body .is-sticky .header-actions-mobile .icon,
    body .is-sticky .header-row .header-actions-col .top-bar-language .top-bar-list-item .top-bar-list-label,
    body .is-sticky .header-row .header-actions-col .icon {
        color: #fff;
    }
    .is-sticky .gaisbock-header-mobile-text-logo {
        display: block;
    }
    .is-sticky  a.header-black-logo-main-link {
        display: none;
    }
    body {
        .header-main .top-bar .top-bar-nav {
            padding: 0;
            height: 30px;
        }
    }
    .header-row .header-logo-col {
        left: 50%;
        margin: 0;
        top:7px;
        z-index: 0;
        .header-logo-main-img {
            width: 108px;
            margin: 0 auto;
            display: block;
        }

    }
    .header-actions-mobile {
        width: auto;
        order: 2;
        padding: 0;
        position: absolute;
        .icon {
            color: #fff;
        }
        .btn {
            padding: 0;
        }
        .gaisbock-header-cart-mobile {
            padding-right: 13px;
        }
    }
}
@include media-breakpoint-between(lg, xxl) {
    body {
        .header-row .nav-main {
            padding: 0;
        }
        .nav-main .main-navigation-menu .main-navigation-link {
            padding-right: 8px !important;
            padding-left: 8px !important;
            font-size: 12px !important;
            
        }
        .header-logo-picture {
            max-width: initial;
            min-width: auto;
        }
    }
}
@include media-breakpoint-down(md) { 
    .hovered .header-logo-col {
        display: none;
    }
    .languages-menu.dropdown span.top-bar-nav-text {
        display: block;
        color: #fff;
        font-weight: 700;
    }
    .languages-menu {
        position: fixed;
        right: 8px;
        top: 50%;
        z-index: 99;
        .top-bar-list {
            min-width: 19px;
            width: 19px;
            top: -2px !important;
            padding: 0;
            background: $sw-color-brand-primary;
            border: 0;
            .top-bar-list-item {
                color: #fff;
                padding: 0;
                label {
                    letter-spacing: 0.77px;
                    font-size: 11px;
                    line-height: 11px;
                    text-align: center;
                }
            }
        }
    }
    .languages-menu .btn, .languages-menu .btn:hover, .languages-menu .btn:active{
        background:$sw-color-brand-primary;
        color: #fff;
        font-size: 11px;
        letter-spacing: 0.7px;
        width: 19px;
        height: 19px;
        line-height: 19px;
        &:after {
            display: none;
        }
    }
    
    .hovered-header .gaisbock-header-mobile-text-logo-white,
    .is-act-home .hovered-header .gaisbock-header-mobile-text-logo-white {
        padding-left: 0px;
    }
    .hovered-header .header-logo-main {
        display: none;
    }
    .header-row .header-actions-col {
        width: auto;
        order: 1;
        .header-cart{
            position: absolute;
            right: 56px;
        }
        .top-bar-nav-item.top-bar-language,
        .account-menu, {
            display: none;
        }
    }
    .offcanvas {
        .search-toggle {
            padding-right: 3px;
        }
    }
    .search-toggle {
        padding-right: 17px;
    }
    .header-actions-mobile {
        position: static;
        .gaisbock-header-cart-mobile {
            padding-right: 13px;
        }
    }
    .header-row {
        .header-actions-col .btn {
            --bs-btn-padding-x: 0;
        }
    }
    .header-row .header-logo-col {
        left: 50%;
        margin: 0;
        top: 7px;
        position: absolute;
        transform: translate(-50%,0%);
    }
    .header-logo-main {
        a.header-black-logo-main-link {
            display: none;
        }
        a.header-text-logo-main-link.gaisbock-header-mobile-text-logo {
            display: block;
        }
    }
    .is-act-home .header-logo-main a.header-text-logo-main-link.gaisbock-header-mobile-text-logo {
        display: none;
    }
    .is-sticky {
        a.header-text-logo-main-link.gaisbock-header-mobile-text-logo {
            display: none;
        }
    }
    .hovered,
    .hovered-header {
        z-index: 99;
    }
    .gaisbock-header-mobile-text-logo img,
    .gaisbock-header-mobile-text-logo-white img {
        width: 140px;
        padding-top: 6px;
    }
    a.header-black-logo-main-link, .is-sticky .gaisbock-header-mobile-text-logo-white{
        padding-left: 0 !important;
    }
    body {
        .header-main {
            padding-bottom: 0;
        }
    }
    .is-act-index .hovered a.header-logo-main-link,
    .is-act-index .hovered a.header-text-logo-main-link.gaisbock-text-sticky-logo,
    .is-act-index .hovered a.header-text-logo-main-link.gaisbock-header-mobile-text-logo,
    .is-act-index .hovered-header a.header-logo-main-link,
    .is-act-index .hovered-header a.header-text-logo-main-link.gaisbock-text-sticky-logo,
    .is-act-index .hovered-header a.header-text-logo-main-link.gaisbock-header-mobile-text-logo {
        display: none;
    }
    .is-act-index .hovered .header-logo-col,
    .is-act-index .hovered-header .header-logo-col  {
        opacity: 1;
        z-index: 0;
    }
    .is-act-index .hovered a.header-text-logo-main-link.gaisbock-header-mobile-text-logo-white,
    .is-act-index .hovered-header a.header-text-logo-main-link.gaisbock-header-mobile-text-logo-white  {
        display: block;
    }
    .is-sticky.hovered .search-toggle div#searchCollapse,
    .is-sticky.hovered-header .search-toggle div#searchCollapse {
        top: 42px;
    }
    .is-act-home .hovered-header a.header-logo-main-link {
        display: none;
    }
    .is-act-home .hovered-header .gaisbock-header-mobile-text-logo-white {
        display: block;
    }
    .offcanvas.offcanvas-start.is-fullwidth.show {
        z-index: 99999;
    }
}   
@media(max-width: 375px) {
    .gaisbock-header-mobile-text-logo img,
    .gaisbock-header-mobile-text-logo-white img {
        width: 110px;
    }
}