<div>
    <div v-if="this.content" v-html="this.content"></div>
    <div v-else>
        <div v-if="!this.isLoading">
            <div style="line-height:18px;font-size:14px;margin-bottom:15px;">Thank you very much. We appreciate your
                decision to buy our plugin. Please contact us if something does not work as expected or if you have any
                suggestions for improvement.
            </div>
            <div>
                <sw-button variant="ghost" link="mailto:contact@pluszwei.io">Send Mail</sw-button>
            </div>
            <div style="line-height:18px;font-size:14px;margin-bottom:15px;margin-top:20px;">If you like our plugin, we
                would be happy if you would leave us a review in the Shopware Community Store. Only this way we can
                reach even more users.
            </div>
            <div>
                <sw-button variant="primary" link="https://www.pluszwei.io/">Discover the world of pluszwei.io</sw-button>
            </div>
        </div>
    </div>
</div>