{% block neti_store_locator_cms_search_form %}
<div class="sw-cms-block-neti-sl-search">
    <h4 class="sw-cms-block-neti-sl-search-headline">
        {{ $t('neti-next-store-locator.sw-cms.elements.slSearchElement.cms-element.slSearch') }}
    </h4>
    <div class="sw-cms-block-neti-sl-search-grid">
        <div class="sw-cms-block-neti-sl-search-input">
            {{ $t('neti-next-store-locator.sw-cms.elements.slSearchElement.cms-element.componentPlaceholder') }}
        </div>
        <div class="sw-cms-block-neti-sl-search-input sw-cms-block-neti-sl-search-submit">
            {{ $t('neti-next-store-locator.sw-cms.elements.slSearchElement.cms-element.buttonSend') }}
        </div>
    </div>
</div>
{% endblock %}
