.faq-contents{
    padding-top: 35px;
    .hueb-seo-faq__box-element {
        background: $sw-background-color;
        border-top: 1px solid $sw-border-color;
        padding: 27px 0 15px 0;
        margin: 0 auto;
        max-width: 750px;      
        .hueb-seo-faq__toggle{
            font-size: 0;
            position: relative;
            transform: revert;
            &:after {
                content: "";
                background-repeat: no-repeat;
                background-size: 100%;
                position: absolute;
                top: 4px;
                width: 15px;
                height: 15px;
                background-position: top;
                vertical-align: middle;
                background-image: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%3E%3Ctitle%3Edown-arrow%3C%2Ftitle%3E%3Cg%20fill%3D%22%23fff%22%3E%3Cpath%20d%3D%22M10.293%2C3.293%2C6%2C7.586%2C1.707%2C3.293A1%2C1%2C0%2C0%2C0%2C.293%2C4.707l5%2C5a1%2C1%2C0%2C0%2C0%2C1.414%2C0l5-5a1%2C1%2C0%2C1%2C0-1.414-1.414Z%22%20fill%3D%22%23151515%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E);
                transform: rotate(-90deg);
                transition: all 0.3s linear;
                overflow: hidden;
                right: 4px;
            }
            &.minus:after {
                transform: rotate(0deg);
            }
        }
        .cms-faq-link {
            letter-spacing: 0.13px;
            font-family: $sw-font-family-headline;
            font-weight: $sw-headings-font-weight;
            font-size: 25px;
            line-height: 31px;
            text-align: start;
            &:hover{
                text-decoration: none;
            }
        }
        &:last-child{
            border-bottom: 1px solid $sw-border-color;
        }
    }
    .hueb-seo-faq__answer-content {
        letter-spacing: 0px;
        color: $sw-color-brand-primary;
        font-size: 18px;
        font-family: $sw-font-family-base;
        line-height: 23px;
        padding-bottom: 10px;
        padding-top: 4px;
    }
}

.cms-section.gailbock-faq-section.faq-list{
    h2 {
        font-size: 48px;
        margin-top: 15px;
        margin-bottom: 0 !important;
        @media (max-width:767px){
            font-size: 32px;
        }
    }   
}

@include media-breakpoint-down(lg){
    .gailbock-faq-section.faq-list {
        top: 50px;
    }
}

@include media-breakpoint-down(md){
    .faq-contents{
        .hueb-seo-faq__box-element {
            max-width: 100%;
            padding: 10px 0;
            .cms-faq-link {
                font-size: 18px;
            }
        }
        .hueb-seo-faq__answer-content {
            font-size: $sw-font-size-heading;
        }
    }
}
