body{
    .neti-next-store-locator {
        max-width: 1440px;
        margin: 0 auto;
        padding: 0 20px;
        .map-overlay {
          position: static !important;
          width: 100%;
          transform: revert;
          .search-container-inner {
            .form-control {
                border-radius: 22px;
                font-size: 18px;
                letter-spacing: 1.08px;
                padding-left: 27px;
                padding-right: 27px;
                color: $sw-color-brand-secondary;
                &::placeholder {
                  font-weight: 700;
                  color: $sw-color-brand-secondary;
                }
            }
            .toggle-filter {
              position: absolute !important;
              background: #fff !important;
              width: auto;
              border: 0;
              top: 5px;
              right: 14px;
              @media(max-width: 1024px) {
                  right: 65px;
              }
              .icon {
                color:$sw-color-brand-secondary;
              }
            }
          }
        }
        .store-container-wrapper {
          .stores-container {
            .store .button-group{
                margin-top: 10px !important;
              .btn{
                flex: revert !important;
              }
            }
            .store.featured {
              margin:0 !important;
              background: #fff;
            }
          }
        }
    }
  }
  .neti-next-store-locator{
    .map-container{
      .horizontal-stores{
        .store{
          .button-group{
            .btn{
              flex: revert !important;
            }
          }
        }
      }
    }
  }
.is-ctl-storelocator {
    .neti-next-store-locator {
        margin-top: 50px;
    }
}

.store-locater-block {
    padding: 25px 0;
    .cms-element-sl-search{
        max-width: 430px;
        margin: 0 auto;
        form {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .cms-element-sl-search-input {
            width: 100%;
            max-width: 430px;
            margin: 0 auto;
            height: 43px;
            border: 1px solid $sw-color-brand-primary;
            border-radius: 22px;
            font-size: 18px;
            letter-spacing: 1.08px;
            color: $sw-color-brand-primary;
            text-transform:capitalize;
            padding: 9px 27px;
            font-weight: bold;
            font-family: $sw-font-family-base; 
            &::placeholder{
                letter-spacing: 1.08px;
                color:$sw-color-brand-secondary;
                text-transform: uppercase;
            }
        }
        .btn{
            font-size: 0;
            background: transparent;
            border: 0;
            position: relative;
            right: 40px;
            top: 4px;
            &:after {
                content: "";
                background-repeat: no-repeat;
                background-size: 100%;
                position: absolute;
                top: 1px;
                right: 1px;
                width: 22px;
                z-index: 99;
                height: 22px;
                background-image: url("data:image/svg+xml,%3Csvg id='Ebene_4' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 51.04 51.02'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill%3A%23C9AC77%3B%7D%3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='m36.19,39.1c-4.47,3.66-9.44,5.27-14.82,5.07-9.76-.35-18.05-6.71-20.62-16.39C-2.34,16.18,4.37,4.2,15.97.87c12.6-3.62,25.3,4.46,27.74,16.7,1.28,6.44-.08,12.27-3.87,17.56-.53.73-.54,1.1.15,1.77,3.32,3.22,6.56,6.52,9.84,9.78,1.4,1.4,1.59,2.55.56,3.6-1.09,1.1-2.23.98-3.63-.41-3.12-3.1-6.22-6.21-9.32-9.33-.41-.42-.77-.89-1.23-1.44ZM2.6,22.08c-.45,10.35,8.51,19.75,19.48,19.65,11.17-.1,19.61-8.58,19.66-19.54.05-11.38-8.89-19.82-19.71-19.77-11.27.05-19.77,9.3-19.43,19.66Z'%3E%3C/path%3E%3C/svg%3E");
            }
        }
    }
}


@include media-breakpoint-down(lg){
    .store-locater-block {
        .cms-element-sl-search{
            form {
                .cms-element-sl-search-input {
                    max-width: 100%;
                }
            }
        }
    }
}