<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_block_gaisbock_totle_text_image_preview %}
    <div class="sw-cms-preview-gaisbock-title-text-image">
        <h1>FAQ'S</h1>
        <h2>How can we help?</h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor edra <a href="#">enean mass mas sociis</a></p>
        <div class="sw-cms-preview-gaisbock-title-text-image__gaisbock-image">
            <img
                    :src="'/administration/static/img/cms/preview_glasses_small.jpg' | asset"
                    alt=""
            >
        </div>
    </div>
{% endblock %}
