.hovered {
    .header-logo-col {
        @media(max-width:767px) {
            opacity: 0;
            z-index: -1;
        }
    }
}

    .search-toggle {
        position: static;
        div#searchCollapse {
            position: absolute;
            width: 100%;
            right: 186px;
            max-width: 1059px;
            top: 60px;
            @media(max-width:1450px) {
                max-width: 992px;
                right: 40px;
            }
            @media(max-width:1199px) {
                max-width: 768px;
            }
            @media(max-width:992px) {
                top:72px !important;
                max-width: 530px;
            }
            @media(max-width:767px) {
                position: fixed;
                background: $sw-color-brand-primary;
                width: 100%;
                max-width: 100%;
                right: 0;
                top:72px;
                height: 100%;
                z-index: 9;
            }
            .header-search {
                max-width: 100%;
                .input-group {
                    @media(max-width:767px) {
                        width: 91%;
                        margin: 0 auto;
                        margin-top: 60px;
                    }
                    .header-actions-btn {
                        position: absolute;
                        right: 0;
                        top: 9px;
                        @media(max-width:992px) {
                            top: 0px;
                        }
                    }
                }
                input {
                    background: transparent;
                    border: 0;
                    border-bottom: 1px solid #fff;
                    color: #F4F4F4;
                    font-size: 34px;
                    letter-spacing: 0.17px;
                    line-height: 42px;
                    font-family: $sw-font-family-headline;
                    font-weight: 900;
                    text-shadow: 0px 0px 40px #00000029;
                    &::placeholder {
                        color: $sw-color-brand-secondary;
                    }
                    @media(max-width:992px) {
                        font-size: 24px;
                        line-height: 26px;
                        letter-spacing: 0.12px;
                        border-radius: 0;
                        box-shadow: none;
                        text-shadow: none;
                        width:100%;
                    }
                    @media(max-width:767px) {
                        padding-right: 34px;
                    }
                    &::placeholder {
                        color: $sw-color-brand-secondary;
                        font-size: 34px;
                        letter-spacing: 0.17px;
                        line-height: 42px;
                        font-family: $sw-font-family-headline;
                        font-weight: 900;
                        text-shadow: 0px 0px 40px #00000029;
                        @media(max-width:992px) {
                            font-size: 24px;
                            line-height: 26px;
                            letter-spacing: 0.12px;
                        }
                    }
                }
            }
        }
    }

    @include media-breakpoint-down(md){  

        .is-ctl-search {
            .content-main{
                .container{
                    padding: 0 20px;
                }
            }
            background: $sw-color-brand-primary;
            .cms-listing-row {
                padding: 0 10px;
                .cms-listing-col {
                    width: 50%;
                    margin-bottom: 0;
                    padding: 0;
                    .product-box  {
                        background: transparent;
                        margin-bottom: 18px;
                        .card-body {
                            text-align: center;
                            padding-left: 6px;
                            padding-right: 6px;
                            .product-info {
                                .product-name {
                                    font-size: 30px;
                                    line-height: 35px;
                                    letter-spacing: 2.1px;
                                    margin-top: 6px;
                                    margin-bottom: 2px;
                                    height: 35px;
                                    color: #fff;
                                }
                                .product-description {
                                    font-size: 11px;
                                    line-height: 15px;
                                    margin-top: 0;
                                    color: #fff;
                                }
                                .product-price {
                                    letter-spacing: 0.77px;
                                    font-size: 11px;
                                    line-height: 17px;
                                }
                                .product-price-wrapper {
                                    font-size: 11px;
                                    min-height: 37px;
                                }
                                .product-price-info {
                                    margin-top: 0px;
                                    margin-bottom: 0;
                                }
                                .product-action {
                                    margin-top: 5px;
                                    .btn {
                                        font-size: 9px;
                                        line-height: 20px;
                                        letter-spacing: 0.54px;
                                        height: 20px;
                                        background: $sw-color-brand-secondary;
                                        padding: 0 9px;
                                    }
                                }
                                span.product-price.with-list-price {
                                    color: #DE1010 !important;
                                }
                                .product-price .list-price {
                                    font-size: 11px;
                                    span.list-price-price,
                                    span.list-price-percentage {
                                        color: #C9AC77;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .cms-page.search-page .product-box .card-body .product-image-wrapper {
                height: 150px;
            }
            .cms-page.search-page .product-box .card-body .product-image-wrapper .product-image-link {
                padding: 17px;
            }
            .product-wishlist .product-wishlist-action-circle {
                top: 9px;
                right: 10px;
            }
        }
    }