{% block pluszwei_faq_manager_index_article %}
    <div class="pluszwei-faq-manager-index-article">
        {% block pluszwei_faq_manager_index_article_grid %}
            <sw-entity-listing ref="swCustomerGrid"
                               v-if="articles"
                               class="pluszwei-faq-manager-index-article-grid"
                               :items="articles"
                               :columns="articleColumns"
                               :allowDelete="true"
                               :repository="articleRepository"
                               :showSelection="false"
                               :fullPage="false"
                               :isLoading="isLoading"
                               detailRoute="pluszwei.faq.manager.article.detail">

                {% block pluszwei_faq_manager_index_article_grid_columns_title %}
                    <template slot="column-title" slot-scope="{ item, isInlineEdit }">

                        {% block pluszwei_faq_manager_index_article_grid_columns_title_inline_edit %}
                            <template v-if="isInlineEdit">
                                <sw-text-field v-model="item.title"></sw-text-field>
                            </template>
                        {% endblock %}

                    </template>
                {% endblock %}

                {% block pluszwei_faq_manager_index_article_grid_columns_active %}
                    <template slot="column-active" slot-scope="{ item, isInlineEdit }">

                        {% block pluszwei_faq_manager_index_article_grid_columns_active_inline_edit %}
                            <template v-if="isInlineEdit">
                                <sw-checkbox-field v-model="item.active"></sw-checkbox-field>
                            </template>
                        {% endblock %}

                        {% block pluszwei_faq_manager_index_article_grid_columns_active_content %}
                            <template v-else>
                                <sw-icon v-if="item.active"
                                         size="7"
                                         color="#37d046"
                                         name="solid-circle-xxs">
                                </sw-icon>
                                <sw-icon v-else
                                        size="7"
                                        color="#ffb75d"
                                        name="solid-circle-xxs">
                                </sw-icon>
                            </template>
                        {% endblock %}

                    </template>
                {% endblock %}

                {% block pluszwei_faq_manager_index_article_grid_columns_created_at %}
                    <template #column-createdAt="{ item }">

                        {% block pluszwei_faq_manager_index_article_grid_columns_created_at_content %}
                            <template>
                                {{ item.createdAt|date({ hour: '2-digit', minute: '2-digit' }) }}
                            </template>
                        {% endblock %}

                    </template>
                {% endblock %}

            </sw-entity-listing>
        {% endblock %}

        {% block pluszwei_faq_manager_index_article_grid_loader %}
            <sw-loader v-if="isLoading"></sw-loader>
        {% endblock %}

    </div>
{% endblock %}