{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_content %}
    <div class="page-title-name">
        <div class="cms-element-gaisbock-listing-heading-image cms-block-gaisbock-listpage-text-image">
            <div class="cms-element-gaisbock-text">
                <h1>{{ "account.header.customerGroup"|trans|sw_sanitize|raw }}</h1>
            </div>
            <div class="cms-element-gaisbock-listing-image">
                <div class="cms-image-container is-standard">
                    <img src="{{ asset('bundles/gaisbock/Registerpage.png','asset') }}">
                    <p>{{ 'customer-group-register.data'|trans|sw_sanitize|raw }}</p>
                </div>
            </div>
        </div>
    </div>
    {% block page_account_customer_group_register %}
        <div class="account-register">
            {% block page_account_customer_group_register_inner %}
                <div class="row">
                    {% block page_account_register_login_container %}
                        <div class="col-lg-4">
                            {% sw_include '@Storefront/storefront/component/account/login.html.twig' with {
                                'cardTitle': "account.loginTitle"|trans|sw_sanitize
                            } %}

                            {% block page_account_register_advantages %}

                            {% endblock %}
                        </div>
                    {% endblock %}
                    <div class="col-lg-8">
                        {% block page_account_customer_group_register_inner_container %}
                            {% sw_include '@Storefront/storefront/component/account/customer-group-register.html.twig' with {
                                'cardTitle': "account.registerPersonalHeader"|trans|sw_sanitize
                            } %}
                        {% endblock %}
                    </div>
                </div>
            {% endblock %}
        </div>
    {% endblock %}
{% endblock %}
