<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>Welcome to pluszwei.io</title>
        <title lang="de-DE">Welcome to pluszwei.io</title>
        <component name="pluszwei-faq-manager-welcome">
            <name>welcome</name>
        </component>
    </card>

    <card>
        <title>FAQ Manager</title>
        <title lang="de-DE">FAQ Manager</title>

        <input-field>
            <name>contactEmail</name>
            <label>FAQ contact email address</label>
            <label lang="de-DE">FAQ contact email address</label>
            <placeholder>Fill in a valid email address...</placeholder>
            <placeholder lang="de-DE">Eine valide Email-Adresse eingeben ...</placeholder>
        </input-field>
    </card>
</config>
