{% block pluszwei_faq_manager_index_category %}
    <div class="pluszwei-faq-manager-index-category sw-page__content has--side-content">
        <div class="pluszwei-faq-manager-index-category-side-content sw-page__side-content">

            {% block pluszwei_faq_manager_index_category_tree %}
                <pluszwei-faq-manager-category-tree
                        ref="categoryTree"
                        :categoryId="categoryId"
                        :currentLanguageId="currentLanguageId"
                        @change-category-id="changeCategoryId">
                </pluszwei-faq-manager-category-tree>
            {% endblock %}

            {% block pluszwei_faq_manager_index_category_add %}
                <div class="pluszwei-faq-manager-index-category-side-content__add-button">
                    <sw-button
                            :disabled="disableCreateButton || isLoading"
                            @click="newCategory"
                            size="small"
                            variant="ghost">
                        {{ $tc('pluszwei-faq-manager.category.general.buttonCreate') }}
                    </sw-button>
                </div>
            {% endblock %}

        </div>

        <div class="pluszwei-faq-manager-index-category-content-view sw-page__main-content">

            {% block pluszwei_faq_manager_index_category_content_empty %}
                <sw-empty-state v-if="showEmptyState" :title="$tc('pluszwei-faq-manager.category.general.emptyStateHeadline')"></sw-empty-state>
            {% endblock %}

            <sw-discard-changes-modal v-if="isDisplayingLeavePageWarning"
                                      @keep-editing="onLeaveModalClose"
                                      @discard-changes="onLeaveModalConfirm">
            </sw-discard-changes-modal>

            <template v-if="category">
                {% block pluszwei_faq_manager_category_view %}

                    {% block pluszwei_faq_manager_category_view_language_info %}
                        <sw-language-info
                                :entity-description="placeholder(category, 'name', $tc('pluszwei-faq-manager.category.detail.textHeadline'))"
                        />
                    {% endblock %}

                    {% block pluszwei_faq_manager_category_view_content %}
                        <sw-card :title="$tc('pluszwei-faq-manager.category.general.headlineInformationCard')" :isLoading="isLoading">
                            <sw-container >
                                {% block pluszwei_faq_manager_index_category_detail_field_name %}
                                    <sw-text-field
                                            required
                                            name="categoryName"
                                            v-model="category.name"
                                            validation="required"
                                            :label="$tc('pluszwei-faq-manager.category.general.categoryNameLabel')"
                                            :placeholder="placeholder(category, 'name')"
                                            :error="categoryNameError">
                                    </sw-text-field>
                                {% endblock %}

                                {% block pluszwei_faq_manager_index_category_detail_field_name_sales_channel %}
                                    <sw-entity-multi-select
                                            v-model="category.salesChannels"
                                            required
                                            class="sw-landing-page-detail-base__sales_channel"
                                            :label="$tc('sw-landing-page.base.seo.labelSalesChannel')"
                                            :placeholder="$tc('sw-landing-page.base.seo.placeholderSalesChannel')"
                                            :error="categorySalesChannelsError"
                                    />
                                {% endblock %}

                                {% block pluszwei_faq_manager_index_category_detail_field_active %}
                                    <sw-switch-field
                                            name="categoryActive"
                                            class="sw-category-detail-base__active"
                                            :label="$tc('pluszwei-faq-manager.category.general.isCategoryActiveLabel')"
                                            v-model="category.active">
                                    </sw-switch-field>
                                {% endblock %}
                            </sw-container>
                        </sw-card>

                        {% block pluszwei_faq_manager_index_category_detail_seo_config %}
                            <template v-if="!category || category.level === 1 || category._isNew">
                                <sw-card :title="$tc('pluszwei-faq-manager.category.detail.cardSeoTitle')"
                                         :isLoading="isLoading">
                                    <template v-if="!isLoading">
                                        <sw-container>
                                            {% block pluszwei_faq_manager_index_category_seo_meta_title %}
                                                <sw-field type="text"
                                                          :label="$tc('pluszwei-faq-manager.category.detail.seo.metaTitleLabel')"
                                                          :placeholder="$tc('pluszwei-faq-manager.category.detail.seo.metaTitlePlaceholder')"
                                                          v-model="category.metaTitle">
                                                </sw-field>
                                            {% endblock %}

                                            {% block pluszwei_faq_manager_index_category_seo_meta_description %}
                                                <sw-field type="textarea"
                                                          :label="$tc('pluszwei-faq-manager.category.detail.seo.metaDescriptionLabel')"
                                                          :placeholder="$tc('pluszwei-faq-manager.category.detail.seo.metaDescriptionPlaceholder')"
                                                          v-model="category.metaDescription">
                                                </sw-field>
                                            {% endblock %}

                                            {% block pluszwei_faq_manager_index_category_seo_meta_keywords %}
                                                <sw-field type="text"
                                                          :label="$tc('pluszwei-faq-manager.category.detail.seo.metaKeywordsLabel')"
                                                          :placeholder="$tc('pluszwei-faq-manager.category.detail.seo.metaKeywordsPlaceholder')"
                                                          v-model="category.keywords">
                                                </sw-field>
                                            {% endblock %}

                                        </sw-container>
                                    </template>
                                </sw-card>

                                {% block pluszwei_faq_manager_index_category_seo_url %}
                                    <sw-seo-url
                                            v-if="category.seoUrls"
                                            :is-loading="isLoading"
                                            :has-default-template="false"
                                            :urls="category.seoUrls"
                                    />
                                {% endblock %}
                            </template>
                        {% endblock %}


                        <div class="pluszwei-faq-manager-index-category-action">
                            <sw-button :disabled="category && category.isLoading" @click="onCancel">
                                {{ $tc('pluszwei-faq-manager.category.detail.buttonCancel') }}
                            </sw-button>
                            <sw-button variant="primary" @click="onClickSave()" :isLoading="isLoading">
                                {{ $tc('pluszwei-faq-manager.category.detail.saveCategoryEntry') }}
                            </sw-button>
                        </div>
                    {% endblock %}
                {% endblock %}
            </template>

        </div>
    </div>
{% endblock %}