{% block sw_cms_block_faq_preview %}
    <div class="sw-cms-preview-form">
        <h4 class="sw-cms-preview-form-headline">{{ $tc('sw-cms.blocks.faq.faq.form') }}</h4>
        <div class="sw-cms-preview-form-input hueb-faq-input">{{ $tc('sw-cms.blocks.faq.faq.question') }}</div>
        <div class="sw-cms-preview-form-input hueb-faq-input">{{ $tc('sw-cms.blocks.faq.faq.answer') }}</div>
    </div>
{% endblock %}
