{% block pluszwei_faq_manager_article_detail %}
    <sw-page class="pluszwei-faq-manager-article-detail" :isLoading="isLoading">
        <template #smart-bar-header>
            <h2 v-html="article ? article.title : 'article'"></h2>
        </template>

        {% block pluszwei_faq_manager_article_detail_smart_bar %}
            <template slot="smart-bar-back">
                <router-link class="smart-bar__back-btn"
                             :to="backPath"
                             :style="{ 'color': moduleData.color }">
                    <sw-icon name="default-arrow-head-left" small></sw-icon>
                    <sw-icon :name="moduleData.icon" v-if="moduleData && moduleData.icon" small></sw-icon>
                </router-link>
            </template>
        {% endblock %}

        {% block pluszwei_faq_manager_article_detail_language_switch %}
            <template #language-switch>
                <sw-language-switch
                        @on-change="changeLanguage"
                        :disabled="article._isNew"
                        v-if="article">
                </sw-language-switch>
            </template>
        {% endblock %}

        {% block pluszwei_faq_manager_article_detail_smart_bar_actions %}
            <template #smart-bar-actions>

                {% block pluszwei_faq_manager_article_detail_smart_bar_actions_abort %}
                    <sw-button :disabled="article && article.isLoading" @click="onCancel">
                        {{ $tc('pluszwei-faq-manager.article.detail.buttonCancel') }}
                    </sw-button>
                {% endblock %}
                {% block pluszwei_faq_manager_article_detail_smart_bar_actions_add %}
                    <sw-button variant="primary" @click="onClickSave()" :isLoading="isLoading">
                        {{ $tc('pluszwei-faq-manager.article.detail.saveArticleEntry') }}
                    </sw-button>
                {% endblock %}
            </template>
        {% endblock %}

        <sw-card-view slot="content">

            {% block pluszwei_faq_manager_article_detail_content_language_info %}
                <sw-language-info
                        :entity-description="placeholder(article, 'title', $tc('pluszwei-faq-manager.article.detail.textHeadline'))"
                />
            {% endblock %}

            <sw-card :title="$tc('pluszwei-faq-manager.article.detail.cardArticleTitle')" :isLoading="isLoading">
                <template v-if="!isLoading">
                    <sw-container>
                        {% block pluszwei_faq_manager_article_detail_field_title %}
                            <sw-text-field
                                    required
                                    v-model="article.title"
                                    validation="required"
                                    :label="$tc('pluszwei-faq-manager.article.detail.base.titleLabel')"
                                    :placeholder="placeholder(article, 'title')"
                                    :error="articleTitleError">
                            </sw-text-field>
                        {% endblock %}

                        {% block pluszwei_faq_manager_article_detail_field_sales_channel %}
                        <sw-entity-multi-select
                                v-model="article.salesChannels"
                                required
                                class="sw-landing-page-detail-base__sales_channel"
                                :label="$tc('sw-landing-page.base.seo.labelSalesChannel')"
                                :placeholder="$tc('sw-landing-page.base.seo.placeholderSalesChannel')"
                                :error="articleSalesChannelsError"
                        />
                        {% endblock %}

                        {% block pluszwei_faq_manager_article_detail_field_content %}
                            <sw-text-editor
                                    v-model="article.content"
                                    :label="$tc('pluszwei-faq-manager.article.detail.base.editorLabel')"
                                    :placeholder="$tc('pluszwei-faq-manager.article.detail.base.editorPlaceholder')"
                            >
                            </sw-text-editor>
                        {% endblock %}

                        {% block pluszwei_faq_manager_article_detail_field_teaser %}
                            <sw-field type="textarea"
                                      :label="$tc('pluszwei-faq-manager.article.detail.base.teaserLabel')"
                                      :placeholder="placeholder(article, 'teaser')"
                                      v-model="article.teaser">
                            </sw-field>
                        {% endblock %}

                        {% block pluszwei_faq_manager_article_detail_field_visibility %}
                            <sw-switch-field type="switch"
                                             :label="$tc('pluszwei-faq-manager.article.detail.base.visibilityLabel')"
                                             v-model="article.active"></sw-switch-field>
                        {% endblock %}

                        {% block pluszwei_faq_manager_article_detail_field_category_id %}
                            <sw-entity-single-select
                                    ref="categoryId"
                                    entity="pluszwei_faq_category"
                                    v-model="article.categoryId"
                                    :criteria="categoryCriteria"
                                    :label="$tc('pluszwei-faq-manager.article.detail.base.titleCategory')"
                                    @change="onCategoryIdChange"
                                    required
                            />
                        {% endblock %}

                        {% block pluszwei_faq_manager_article_detail_field_section_id %}
                            <sw-entity-single-select
                                    ref="sectionId"
                                    entity="pluszwei_faq_category"
                                    v-model="article.sectionId"
                                    :criteria="sectionCriteria"
                                    :label="$tc('pluszwei-faq-manager.article.detail.base.titleSubcategory')"
                                    required
                            />
                        {% endblock %}

                        {% block pluszwei_faq_manager_article_detail_field_featured %}
                            <sw-switch-field type="switch"
                                             :label="$tc('pluszwei-faq-manager.article.detail.base.featuredLabel')"
                                             v-model="article.featured"></sw-switch-field>
                        {% endblock %}
                        
                    </sw-container>
                </template>
            </sw-card>

            <sw-card :title="$tc('pluszwei-faq-manager.article.detail.cardSeoTitle')" :isLoading="isLoading">
                <template v-if="!isLoading">
                    <sw-container>
                        {% block pluszwei_faq_manager_article_detail_seo_meta_title %}
                            <sw-field type="text"
                                      :label="$tc('pluszwei-faq-manager.article.detail.seo.metaTitleLabel')"
                                      :placeholder="$tc('pluszwei-faq-manager.article.detail.seo.metaTitlePlaceholder')"
                                      v-model="article.metaTitle">
                            </sw-field>
                        {% endblock %}

                        {% block pluszwei_faq_manager_article_detail_seo_meta_description %}
                            <sw-field type="textarea"
                                      :label="$tc('pluszwei-faq-manager.article.detail.seo.metaDescriptionLabel')"
                                      :placeholder="$tc('pluszwei-faq-manager.article.detail.seo.metaDescriptionPlaceholder')"
                                      v-model="article.metaDescription">
                            </sw-field>
                        {% endblock %}

                        {% block pluszwei_faq_manager_article_detail_seo_meta_keywords %}
                            <sw-field type="text"
                                      :label="$tc('pluszwei-faq-manager.article.detail.seo.metaKeywordsLabel')"
                                      :placeholder="$tc('pluszwei-faq-manager.article.detail.seo.metaKeywordsPlaceholder')"
                                      v-model="article.keywords">
                            </sw-field>
                        {% endblock %}

                    </sw-container>
                </template>
            </sw-card>

            {% block pluszwei_faq_manager_article_detail_seo_url %}
                <sw-seo-url
                    v-if="article.seoUrls"
                    :is-loading="isLoading"
                    :has-default-template="false"
                    :urls="article.seoUrls"
                />
            {% endblock %}
        </sw-card-view>

    </sw-page>
{% endblock %}