// Breadcrumb Styling


.breadcrumb{
    .is-active{
        .breadcrumb-title{
            text-decoration: underline;
            text-decoration-thickness: 1.5px;
            text-decoration-color: #707070;
        }
    }
    .breadcrumb-title{
        font-size: $sw-font-size-sm;
        color:$sw-color-brand-primary;
        font-family: $sw-font-family-base;
        font-weight: $fontWeight600;
        text-transform: capitalize;
        line-height: 15px;
        letter-spacing: 0.36px;
    }    
}
