// Breadcrumb Styling


.breadcrumb{
    .is-active{
        .breadcrumb-title{
            text-decoration: underline;
            text-decoration-thickness: 1.5px;
            text-decoration-color: #707070;
        }
    }
    .breadcrumb-title, .breadcrumb-item a{
        font-size: $sw-font-size-sm;
        color:$sw-color-brand-primary;
        font-family: $sw-font-family-base;
        font-weight: $fontWeight600;
        text-transform: capitalize;
        line-height: 15px;
        letter-spacing: 0.36px;
        @media(max-width:767px){
            font-size: 9px;
            letter-spacing: 0.09;
            line-height: 15px;
        }
    }    
}
.breadcrumb.cms-breadcrumb {
    padding: 0;
}
.cms-block-gaisbock-listpage-text-image{
    position: absolute;
    top: 101px;
    text-align: center;
    left: 50%;
    transform: translate(-50%,0%);
    width: 100%;
    z-index: -1;
    @media(max-width:1299px) {
        top: 84px;
    }
    @media(max-width:767px) {
        position: static;
        transform: revert;
    }
    h1 {
        letter-spacing: 0.24px;
        font-size: 48px;
        line-height: 61px;
        @media(max-width:1024px) {
            font-size: 30px;
            line-height: 49px;
        }
        @media(max-width:767px) {
            font-size: 29px;
            line-height: 32px;
            letter-spacing: 0.14px;
            margin-bottom: 0;
        }
    }
    img {
        width: 177px;
        @media(max-width:1024px) {
            width: 107px;
        }
        @media(max-width:767px) {
            display: none;
        }
    }
}

@include media-breakpoint-down(md){ 
    body .container-main {
        padding: 0px 0;
    }
    body .breadcrumb.cms-breadcrumb {
        margin-bottom: 0;
    }
    .page-title-name .cms-block-container {
        padding-top: 0 !important;
    }
}