<?xml version="1.0" encoding="UTF-8"?>
<config
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>Instagram Elements</title>
        <title lang="de-DE">Instagram Elemente</title>

        <component name="solid-instagram-access-token-form">
            <name>accessToken</name>
        </component>

        <component name="solid-extension-data-handling-form">
            <name>useDatabaseAndFilesystem</name>
        </component>
    </card>
</config>
