{% block sw_cms_block_sl_search_preview %}
<div class="sw-cms-preview-neti-sl-search">
    <div class="sw-cms-block-neti-sl-search-grid">
        <div class="sw-cms-block-neti-sl-search-input">
            {{ $t('neti-next-store-locator.sw-cms.elements.slSearchElement.block.zip') }}
        </div>
        <div class="sw-cms-block-neti-sl-search-input sw-cms-block-neti-sl-search-submit">
            {{ $t('neti-next-store-locator.sw-cms.elements.slSearchElement.block.buttonSend') }}
        </div>
    </div>
</div>
{% endblock %}
