<div class="neti-store-locator-detail-base">
    <neti-store-locator-details-basic-card
            :store="store"
            :isLoading="store.isLoading"
    ></neti-store-locator-details-basic-card>

    <neti-store-locator-details-content-card
            :store="store"
            :isLoading="store.isLoading"
    ></neti-store-locator-details-content-card>

    <neti-store-locator-details-seo-card
            :store="store"
            :isLoading="store.isLoading"
    ></neti-store-locator-details-seo-card>
</div>
