{% block pluszwei_faq_manager_index %}
    <sw-page class="pluszwei-faq-manager-index">

        {% block sw_order_list_search_bar %}
            <template #search-bar>
                <sw-search-bar :initialSearchType="$tc('pluszwei-faq-manager.general.typeSearchBar')"
                               :placeholder="$tc('pluszwei-faq-manager.general.placeholderSearchBar')"
                               :initialSearch="term"
                               @search="onSearch">
                </sw-search-bar>
            </template>
        {% endblock %}

        {% block pluszwei_faq_manager_index_smart_bar_header %}
            <template #smart-bar-header>
                {% block pluszwei_faq_manager_index_smart_bar_header_title %}
                    <h2>

                        {% block pluszwei_faq_manager_index_smart_bar_header_title_text %}
                            {{ $tc('pluszwei-faq-manager.index.headline') }}
                        {% endblock %}

                        {% block pluszwei_faq_manager_index_smart_bar_header_amount %}
                            <span v-if="!isLoading" class="sw-page__smart-bar-amount">
                                ({{ total }})
                            </span>
                        {% endblock %}

                    </h2>
                {% endblock %}
            </template>

            <template #language-switch>
                <sw-language-switch @on-change="changeLanguage"></sw-language-switch>
            </template>

            <template slot="smart-bar-actions">
                {% block pluszwei_faq_manager_index_smart_bar_actions_add %}
                    <sw-button :routerLink="{ name: 'pluszwei.faq.manager.article.create' }" variant="primary">
                        {{ $tc('pluszwei-faq-manager.index.buttonAddArticleEntry') }}
                    </sw-button>
                {% endblock %}
            </template>
        {% endblock %}

        <template #content>
            <sw-card-view>

                {% block pluszwei_faq_manager_index_content_tabs %}
                    <sw-tabs class="pluszwei-faq-manager-index-page__tabs">

                        {% block pluszwei_faq_manager_index_content_tab_article %}
                            <sw-tabs-item class="pluszwei-faq-manager-index__tab-article"
                                          :title="$tc('pluszwei-faq-manager.index.tabArticle')"
                                          :route="articleRoute">
                                {{ $tc('pluszwei-faq-manager.index.tabArticle') }}
                            </sw-tabs-item>
                        {% endblock %}

                        {% block pluszwei_faq_manager_index_content_tab_category %}
                            <sw-tabs-item class="pluszwei-faq-manager-index__tab-category"
                                          :title="$tc('pluszwei-faq-manager.index.tabCategory')"
                                          :route="categoryRoute">
                                {{ $tc('pluszwei-faq-manager.index.tabCategory') }}
                            </sw-tabs-item>
                        {% endblock %}

                    </sw-tabs>
                {% endblock %}

                {% block pluszwei_faq_manager_index_content_view %}
                    <router-view :search="term" @update-total="onUpdateTotal" ref="contentView">
                    </router-view>
                {% endblock %}

            </sw-card-view>
        </template>

        {% block pluszwei_faq_manager_index_sidebar %}
            <template #sidebar>
                <sw-sidebar>

                    {% block pluszwei_faq_manager_index_sidebar_refresh %}
                        <sw-sidebar-item
                                icon="regular-undo"
                                :title="$tc('pluszwei-faq-manager-list.list.titleSidebarItemRefresh')"
                                @click="onRefresh">
                        </sw-sidebar-item>
                    {% endblock %}

                </sw-sidebar>
            </template>
        {% endblock %}
    </sw-page>
{% endblock %}