{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_content %}
    {% sw_include '@PluszweiFaqManager/storefront/page/faq/category/breadcrumb.html.twig' %}

    {% block pluszwei_faq_manager_category %}
        <div itemscope itemtype="https://schema.org/FAQPage">

        {% block pluszwei_faq_manager_category_title %}
            <div class="browse_one_title">
                <h1 class="h1">{{ category.translated.name }}</h1>
            </div>
        {% endblock %}

        {% block pluszwei_faq_manager_category_content %}
            <div class="categoryContent">

            {% block pluszwei_faq_manager_category_featured_article %}
                <div class="featured_container">
                    {% sw_include '@PluszweiFaqManager/storefront/page/faq/category/featured-articles.html.twig' with {articles: featuredArticles} %}
                </div>
            {% endblock %}

            {% block pluszwei_faq_manager_category_section %}
                <div class="content_conatiner">
                    <div class="section-container">
                        <div class="cate_list">
                            {% for section in sections.filterByHasActiveArticles() %}
                                {% sw_include '@PluszweiFaqManager/storefront/page/faq/category/section.html.twig' %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endblock %}

            </div>
        {% endblock %}

        {% block pluszwei_faq_manager_category_footer %}
            {% if category.navigation %}
                <div class="categoryContentFooter">
                    <div class="prompt_title h3">{{ 'pluszweiFaqManager.footer.questionTitle'|trans|sw_sanitize }}</div>
                    <a class="btn btn-primary btn-lg" href="{{ category_url(category.navigation) }}#search_form"
                       aria-label="Search eBay Help. Click here will link to search input of home page">
                    <span>
                        {% sw_icon 'search' %}
                    </span>
                        {{ 'pluszweiFaqManager.footer.searchFaqBtnTitle'|trans|sw_sanitize }}
                    </a>
                </div>
            {% endif %}
        {% endblock %}

        </div>
    {% endblock %}

{% endblock %}