{% block pluszwei_faq_manager_index_category %}
    <div class="cate_content">

        {% block pluszwei_faq_manager_index_category_container %}
            <div class="topics">

                {% block pluszwei_faq_manager_index_category_heading %}
                    <h2 class="topics_title">{{ 'pluszweiFaqManager.index.heading'|trans|sw_sanitize }}</h2>
                {% endblock %}

                {% block pluszwei_faq_manager_index_category_list %}
                    <ul class="cate_container">
                        {% for category in categories %}

                            {% block pluszwei_faq_manager_index_category_item %}
                                <li class="item">
                                    <a href="{{ seoUrl('pluszwei.faq.frontend.category', {categoryId: category.id}) }}" id="{{ category.translated.name|lower }}">
                                        <span class="content">
                                            <span class="t2">{{ category.translated.name }}</span>
                                        </span>
                                    </a>
                                </li>
                            {% endblock %}

                        {% endfor %}
                    </ul>
                {% endblock %}

            </div>
        {% endblock %}

    </div>
{% endblock %}