{% if featuredArticles|length > 0 %}

    {% block pluszwei_faq_manager_index_featured_article %}
        <div class="list_content" style="">

            {% block pluszwei_faq_manager_index_featured_article_content %}
                <div class="lists">
                    {% for article in featuredArticles %}

                        {% block pluszwei_faq_manager_index_featured_article_item %}
                            <a class="item" href="{{ seoUrl('pluszwei.faq.frontend.detail', {articleId: article.id}) }}"
                               id="popular_solution_1" rel="nofollow">
                                <span class="caption">
                                    <h2 class="main_title">{{ article.translated.title }}</h2>
                                    <span class="sub_title">{{ 'pluszweiFaqManager.article.labelFeatured'|trans|sw_sanitize }}</span>
                                </span>
                                    <span class="icon">
                                    {% sw_icon 'arrow-right' %}
                                </span>
                            </a>
                        {% endblock %}

                    {% endfor %}
                </div>
            {% endblock %}

        </div>
    {% endblock %}

{% endif %}
