{% block cms_block_gaisbock_custom_text_image_slider %}
    {% set element = block.slots.getSlot('gaisbockCustomTextImageSlider') %}

    <div class="row gaisbock-custom-text-image-slider-component-image-text-separate-grid {{ element.config.TextImagePosition.value != null ? element.config.TextImagePosition.value : 'TextBeforeImage' }}">

        <div data-aos="fade-up" data-aos-delay="0" class="gaisbock-custom-text-image-slider-component-media-slider aos-init" >
            <div class="col-12" data-cms-element-id="{{ element.id }}">
                {% block cms_block_gaisbock_custom_text_image_slider_inner %}
                    {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}