{% block sw_cms_preview_gaisbock_custom_category_extension %}
    <div class="sw-cms-element-gaisbock-custom-category-extension">
        <div class="sw-cms-element-category-placeholder-listing">
            <hr>
            <div class="sw-cms-element-gaisbock-custom-category-extension__placeholder"></div>
            <hr>
            <div class="sw-cms-element-gaisbock-custom-category-extension__placeholder"></div>
            <div class="sw-cms-element-gaisbock-custom-category-extension__placeholder--subcategory"></div>
            <div class="sw-cms-element-gaisbock-custom-category-extension__placeholder--subcategory"></div>
            <div class="sw-cms-element-gaisbock-custom-category-extension__placeholder--subcategory"></div>
            <hr>
        </div>
    </div>
{% endblock %}