{% block sw_cms_element_sl_search_preview %}
<div class="sw-cms-el-preview-sl-search sw-cms-el-preview-form">
    <h4 class="sw-cms-el--preview-form-headline">
        {{ $t('neti-next-store-locator.sw-cms.elements.slSearchElement.block.form') }}
    </h4>
    <div class="sw-cms-el-preview-form-inputs">
        <div class="sw-cms-el-preview-form-input"></div>
        <div class="sw-cms-el-preview-form-inputs__action">
            {{ $t('neti-next-store-locator.sw-cms.elements.slSearchElement.block.buttonSend') }}
        </div>
    </div>
</div>
{% endblock %}
